<div class="flex flex-col h-full md:py-10 md:pr-11 md:pl-6 gap-5">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.index + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Tên học sinh</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Point Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef>Điểm</th>
      <td mat-cell *matCellDef="let element">{{ element.score }}</td>
    </ng-container>

    <!-- learningLevel Column -->
    <ng-container matColumnDef="learningLevel">
      <th mat-header-cell *matHeaderCellDef>Bài kiểm tra</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['test-result', element.id]">Xem bài kiểm tra</a>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th class="text-right" mat-header-cell *matHeaderCellDef></th>
      <td class="text-right" mat-cell *matCellDef="let element">
        <a
          class="link"
          [routerLink]="['update', element.student_id, element.id]"
          >Soạn giáo án ></a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
