<div class="flex flex-col md:flex-row h-full">
  <div
    class="flex w-full h-full items-center justify-center bg-primaryBlue p-6"
    [ngClass]="{'md:w-7/12': isPromotionEnable}"
  >
    <form class="flex flex-col w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-24" [formGroup]="signInForm">
      <img (dblclick)="debug()" src="./assets/images/logo-v.svg" alt="Logo" class="h-24" />
      <div class="h-12"></div>
      <input type="text" #emailElm placeholder="Nhập email" formControlName="email" />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <div *ngIf="email.errors?.['required']">Chưa nhập Email.</div>
        <div *ngIf="email.errors?.['email']">Email chưa đúng.</div>
      </div>
      <div class="h-4"></div>
      <div class="relative w-full">
        <input
          #passwordElm
          [type]="showPassword ? 'text' : 'password'"
          class="w-full"
          placeholder="Nhập mật khẩu"
          formControlName="password"
        />
        <div
          (click)="showPassword = !showPassword"
          class="absolute right-0 top-0 w-11 h-full flex items-center justify-center cursor-pointer"
        >
          <i *ngIf="showPassword" class="icon-VisibilityOff"></i>
          <i *ngIf="!showPassword" class="icon-Visibility"></i>
        </div>
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors?.['required']">Chưa nhập mật khẩu.</div>
      </div>
      <div class="error" *ngIf="errorMessage">Thông tin chưa chính xác</div>
      <div class="h-6"></div>
      <button (click)="login()" class="btn" [disabled]="(signInForm.touched && signInForm.invalid) || processing">
        {{ processing ? 'Đang xử lý' : 'Đăng nhập' }}
      </button>
      <div class="h-6"></div>
      <a [routerLink]="paths.resetPassword.path" class="text-orange">Quên mật khẩu</a>
      <div class="h-2"></div>
      <span class="text-white"
        >Bạn chưa có tài khoản? &nbsp; <a [routerLink]="paths.signUp.path" class="text-orange">Đăng ký tại đây</a></span
      >
    </form>
  </div>
</div>
