<div class="flex-col md:flex md:flex-row h-full md:overflow-hidden">
  <div class="col md:hidden hero-bg py-8 px-6 gap-2" style="height: calc(100vw * 204 / 375)">
    <img src="/assets/images/logo-horizontal-light.webp" alt="" class="self-start h-[32px]" />
    <span class="h7 text-white w-full text-center">Tri thức khởi đầu từ<br />“Tại sao”?</span>
  </div>
  <div class="background-image flex w-full h-full md:items-center justify-center">
    <div class="flex flex-col w-full md:w-[434px] min-h-[338px] p-6 mb-24 gap-6 overflow-auto flex-shrink-0">
      <img (dblclick)="debug()" src="/assets/images/logo-h.svg" alt="Logo" class="h-12 self-start hidden md:block" />
      <form [formGroup]="signInForm" class="col gap-6 w-full">
        <h4>Mừng bạn quay trở lại!</h4>
        <div class="col gap-2">
          <div class="col w-full">
            <input type="text" #emailElm placeholder="Nhập email" formControlName="email" />
            <div *ngIf="email.invalid && isEdited">
              <div class="error" *ngIf="email.errors?.['email']">Vui lòng nhập theo định dạng abc&#64;email.com.</div>
            </div>
          </div>
          <div class="relative w-full">
            <input
              #passwordElm
              [type]="showPassword ? 'text' : 'password'"
              class="w-full"
              placeholder="Nhập mật khẩu"
              formControlName="password"
            />
            <div
              (click)="showPassword = !showPassword"
              class="absolute right-0 top-0 w-11 h-full flex items-center justify-center cursor-pointer"
            >
              <i *ngIf="showPassword" class="icon-VisibilityOff" tabindex="0"></i>
              <i *ngIf="!showPassword" class="icon-Visibility" tabindex="0"></i>
            </div>
          </div>
        </div>
        <div class="error" *ngIf="errorMessage">Thông tin chưa chính xác</div>
        <button (click)="login()" class="btn" [disabled]="processing">
          {{ processing ? 'Đang xử lý' : 'Đăng nhập' }}
        </button>
        <div class="col items-start gap-2">
          <a [routerLink]="paths.resetPassword.path" class="text-orange">Quên mật khẩu</a>
          <span
            >Bạn chưa có tài khoản? &nbsp;
            <a [routerLink]="paths.signUp.path" class="text-orange">Đăng ký tại đây</a></span
          >
        </div>
      </form>
    </div>
  </div>
  <div class="hero-img hidden md:flex justify-center flex-shrink-0 overflow-hidden relative">
    <img class="w-full h-full object-cover absolute top-0" src="/assets/images/hero-image.webp" alt="" />
    <span class="text-white text-[36px] font-semibold z-10 text-center">Tri thức khởi đầu<br />từ “Tại sao”?</span>
  </div>
</div>
