.top-menu-notification {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #fb7200;
  border-radius: 50%;
}
.divide-y {
  height: 2px;
}
a.menu-item {
  @apply flex gap-3 items-center font-extrabold text-blueGrey-400 no-underline p-2;
  &.home {
    @apply hidden md:flex;
  }
}
.drop-menu-item {
  @apply flex h-16 p-6 no-underline;
}
.left-menu {
  @media screen and (max-width: 1279px) {
    @apply fixed top-0 left-0 h-screen w-screen z-10 hidden;
    &.showMobileMenu {
      @apply flex;
    }
  }
  @media screen and (min-width: 1280px) {
    &.isCollapsed {
      .menu-text {
        @apply hidden;
      }
    }
  }
}
