<div *ngIf="show" class="w-full flex h-14 text-base items-center justify-center pt-10">
  <div class="w-full xl:max-w-[1122px] flex relative px-6 xl:p-0">
    <a href="/"><img src="/assets/images/logo-h.svg" alt="" /></a>
    <div class="flex-1"></div>
    <ul class="flex items-center gap-2">
      <li>
        <a
          class="menu-item"
          [routerLink]="'/'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (isActiveChange)="(this.ngOnInit)"
        >
          <img src="/assets/images/Home.svg" alt="" />
          <span>Trang chủ</span>
        </a>
      </li>
      <li>
        <a
          class="menu-item"
          [routerLink]="paths.account.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (isActiveChange)="(this.ngOnInit)"
        >
          <img src="/assets/images/Profile.svg" alt="" />
          <span>Tài khoản</span>
        </a>
      </li>
    </ul>
  </div>
</div>
