<div class="flex w-full justify-center">
  <div class="col gap-4 w-full max-w-[1122px] p-6 md:p-12 h-screen">
    <button
      #backXs
      data-tooltip-content="Bấm vào đây để quay lại trang đáp án bài kiểm tra nhé!"
      data-tooltip-position="bottom"
      (click)="backToResult()"
      class="icon-btn self-end md:hidden bg-blueGrey-100"
    >
      <i class="icon-Close"></i>
    </button>
    <div class="flex items-center justify-between w-full">
      <div class="flex gap-4 items-center">
        <button
          #back
          data-tooltip-content="Bấm vào đây để quay lại trang đáp án bài kiểm tra nhé!"
          data-tooltip-position="bottom"
          (click)="backToResult()"
          class="no-underline gap-2 items-center text-orange hidden md:flex bg-blueGrey-100"
        >
          <i class="icon-ChevronLeft"></i>
          <span>Về Điểm bài kiểm tra</span>
        </button>
        <h4>Đáp án bài kiểm tra</h4>
      </div>
      <div class="gap-2 hidden md:flex">
        <a [routerLink]="paths.home.path" class="menu-item">
          <img src="/assets/images/Home.svg" alt="" />
          <span>Trang chủ</span>
        </a>
        <a [routerLink]="paths.account.path" class="menu-item">
          <img src="/assets/images/Profile.svg" alt="" />
          <span>Tài khoản</span>
        </a>
      </div>
    </div>
    <div
      class="col rounded-lg bg-white p-4 gap-4 overflow-y-auto md:overflow-hidden md:flex-1 h-[calc(100vh_-_280px)]"
      *ngIf="!isLoading"
    >
      <div class="flex items-start justify-between w-full">
        <h6 class="hidden md:flex">
          Câu {{ currentQuestionIndex + 1 }}/{{ questions.length }}&nbsp;-&nbsp;
          <span *ngIf="!questions[currentQuestionIndex].isCorrectAnswer" class="text-red-0">Chưa phải đáp án đúng!</span
          ><span *ngIf="questions[currentQuestionIndex].isCorrectAnswer" class="text-darkEmerald"
            >Đáp án chính xác!</span
          >
        </h6>
        <span class="h8 md:hidden">
          Câu {{ currentQuestionIndex + 1 }}/{{ questions.length }}&nbsp;-&nbsp;
          <span *ngIf="!questions[currentQuestionIndex].isCorrectAnswer" class="text-red-0">Chưa phải đáp án đúng!</span
          ><span *ngIf="questions[currentQuestionIndex].isCorrectAnswer" class="text-darkEmerald"
            >Đáp án chính xác!</span
          >
        </span>
        <a href="https://forms.gle/b36mTdMWNRY1qkZh7" target="_blank" class="btn-rounded hidden md:flex">Báo lỗi</a>
        <a href="https://forms.gle/b36mTdMWNRY1qkZh7" target="_blank" class="btn-rounded btn-icon block md:hidden"
          ><i class="icon-Error"></i
        ></a>
      </div>
      <div class="col gap-2 md:flex-1 md:max-h-screen md:overflow-y-auto">
        <!-- <span [innerHTML]="questions[currentQuestionIndex].content | safeHtml"></span> -->
        <kyonsvn-latex [inputString]="questions[currentQuestionIndex].content"></kyonsvn-latex>
        <!-- <span [innerHTML]="questions[currentQuestionIndex].html | safeHtml"></span> -->
        <kyonsvn-input-radio
          [style.display]="ai > 3 ? 'none' : 'block'"
          *ngFor="let answer of questions[currentQuestionIndex].answers | orderBySA : 'order'; let ai = index"
          [checked]="answer.value === questions[currentQuestionIndex].correctAnswer"
          [answer]="answer"
          [label]="answerPrefixes[ai] + answer.content"
          [disabled]="true"
        ></kyonsvn-input-radio>
        <!-- <span [innerHTML]="questions[currentQuestionIndex].explanation | safeHtml"></span> -->
        <h5>Lời giải</h5>
        <kyonsvn-latex [inputString]="questions[currentQuestionIndex].explanation"></kyonsvn-latex>
      </div>
    </div>
    <div class="justify-between flex flex-col gap-3">
      <!-- <div class="hidden md:flex flex-1 gap-2">
        <strong class="uppercase">Phím tắt:</strong>
        <span>Bấm 1,2,3,4 chọn đáp án, bấm space sẽ làm tiếp hoặc nộp bài</span>
      </div> -->
      <div class="flex gap-4 items-center w-full overflow-hidden">
        <button (click)="scrollLeft()" [disabled]="currentQuestionIndex === 0" class="btn hidden md:flex">
          Câu trước
        </button>
        <button
          (click)="scrollLeft()"
          [disabled]="currentQuestionIndex === 0"
          class="btn btn-icon btn-large flex md:hidden"
        >
          <i class="icon-ChevronLeft"></i>
        </button>
        <div class="flex-1 flex gap-1 w-full overflow-hidden">
          <button class="btn-rounded btn-icon hidden md:flex" (click)="previousPage()">
            <i class="icon-ChevronLeft"></i>
          </button>
          <div
            #scrollElm
            data-tooltip-content="Bạn có thể chuyển đến đáp án mong muốn bằng cách nhấn vào số của câu hỏi"
            class="w-full md:w-[calc(100%_-_92px)] overflow-x-auto flex gap-1 hide-scrollbar"
          >
            <button
              class="btn-rounded btn-icon"
              *ngFor="let question of questions; index as i"
              [ngClass]="{
                'fill-green': question.isCorrectAnswer && i === currentQuestionIndex,
                'fill-red': !question.isCorrectAnswer && i === currentQuestionIndex,
                'outline-green': question.isCorrectAnswer,
                'outline-red': !question.isCorrectAnswer
              }"
              (click)="currentQuestionIndex = i"
            >
              {{ i + 1 }}
            </button>
          </div>
          <button class="btn-icon btn-rounded hidden md:flex" (click)="nextPage()">
            <i class="icon-ChevronRight"></i>
          </button>
        </div>
        <button
          [disabled]="currentQuestionIndex === questions.length - 1"
          (click)="scrollRight()"
          class="btn hidden md:flex"
        >
          Câu kế tiếp
        </button>
        <button
          (click)="scrollRight()"
          [disabled]="currentQuestionIndex === questions.length - 1"
          class="btn btn-icon btn-large flex md:hidden"
        >
          <i class="icon-ChevronRight"></i>
        </button>
      </div>
    </div>
    <div class="hidden md:flex bg-lightOrange-4 w-full h-[56px] items-center justify-between px-6 rounded-lg">
      <span><b class="text-orange">Bạn muốn cải thiện điểm số?</b> Bấm <b>Tạo lộ trình học</b> để bắt đầu ngay!</span>
      <button
        [disabled]="status !== MockTestStatus.learning_path_received"
        (click)="activateLearningPath()"
        class="btn"
      >
        Tạo lộ trình học
      </button>
    </div>
  </div>
</div>
<kyonsvn-tutorial
  *ngIf="showTutorial"
  [scriptElements]="[scrollElm, back]"
  [scriptEvents]="[['click', emptyFunc], ['click', nextTutorial], null]"
  class="hidden md:block"
></kyonsvn-tutorial>
<kyonsvn-tutorial
  *ngIf="showTutorial"
  (skipCallback)="skip()"
  [scriptElements]="[scrollElm, backXs]"
  [scriptEvents]="[['click', emptyFunc], ['click', nextTutorial], null]"
  class="md:hidden"
  (skipCallback)="skip()"
></kyonsvn-tutorial>
