{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": true,
  "spaceBeforeFunctionParen": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
