<div class="flex flex-col gap-4 w-full">
  <h5>Đổi mật khẩu</h5>
  <form class="w-full col gap-4" [formGroup]="passwordForm">
    <div class="flex flex-col gap-1 flex-1">
      <span>Mật khẩu cũ</span>
      <input type="text" formControlName="oldPassword" />
    </div>
    <div class="flex flex-col gap-1 flex-1">
      <span>Mật khẩu mới</span>
      <input type="text" formControlName="newPassword" />
    </div>
    <hr />
  </form>
  <button class="btn small self-end">Cập nhật</button>
</div>
