<div class="grid md:grid-cols-2 md:h-full">
  <div class="bg-white rounded-lg m-11 p-6 flex flex-col gap-4">
    <h1 class="text-primaryBlue">Chúc mừng bạn đã hoàn thành chương trình học</h1>
    <p>Hãy thử thách bản thân với bài kiểm tra cuối khoá và gửi nhận xét của bạn cho Kyons nhé.</p>
    <div class="w-full flex xl:flex-row flex-col justify-end gap-2">
      <a class="btn btn-rounded" [href]="surveyLink" target="_blank">Cho mình xin ý kiến của bạn nhé</a>
      <a class="btn primary" [href]="finalExamLink" target="_blank">Kiểm tra cuối khoá</a>
    </div>
  </div>
  <div class="flex items-center justify-center h-full">
    <img style="width: calc(100% - 200px)" src="assets/images/Expand Congratulation 1.svg" alt="Program 1 image" />
  </div>
</div>
