<div class="flex-col md:flex md:flex-row h-full md:overflow-hidden">
  <div class="col md:hidden hero-bg py-8 px-6 gap-2" style="height: calc(100vw * 204 / 375)">
    <img src="/assets/images/logo-horizontal-light.webp" alt="" class="self-start h-[32px]" />
    <span class="h7 text-white w-full text-center">Tri thức khởi đầu từ<br />“Tại sao”?</span>
  </div>
  <div class="background-image flex w-full h-full md:items-center justify-center">
    <div class="flex flex-col w-full md:w-[434px] min-h-[338px] p-6 mb-24 gap-6 overflow-auto flex-shrink-0">
      <img (dblclick)="debug()" src="/assets/images/logo-h.svg" alt="Logo" class="h-12 self-start hidden md:block" />
      <form [formGroup]="signInForm" class="col gap-6 w-full">
        <h4>Mừng bạn quay trở lại!</h4>
        <div class="col gap-2">
          <div class="col w-full">
            <input type="text" #emailElm placeholder="Nhập email" formControlName="email" />
            <div *ngIf="email.invalid && isEdited">
              <div class="error" *ngIf="email.errors?.['email']">Vui lòng nhập theo định dạng abc&#64;email.com.</div>
            </div>
          </div>
          <div class="relative w-full">
            <input
              #passwordElm
              [type]="showPassword ? 'text' : 'password'"
              class="w-full"
              placeholder="Nhập mật khẩu"
              formControlName="password"
              (submit)="login()"
            />
            <button
              type="button"
              (click)="showPassword = !showPassword"
              class="absolute right-0 top-0 w-11 h-full flex items-center justify-center cursor-pointer"
            >
              <i *ngIf="showPassword" class="icon-VisibilityOff"></i>
              <i *ngIf="!showPassword" class="icon-Visibility"></i>
            </button>
          </div>
        </div>
        <div class="error" *ngIf="errorMessage">Thông tin chưa chính xác</div>
        <button (click)="login()" class="btn" [disabled]="processing">
          {{ processing ? 'Đang xử lý' : 'Đăng nhập' }}
        </button>
        <div class="col items-start gap-2">
          <a [routerLink]="paths.resetPassword.path" class="text-orange">Quên mật khẩu</a>
          <span
            >Bạn chưa có tài khoản? &nbsp;
            <a [routerLink]="paths.signUp.path" class="text-orange">Đăng ký tại đây</a></span
          >
        </div>

        <!-- <div class="flex gap-4 items-center">
          <hr class="flex-1" />
          hoặc
          <hr class="flex-1" />
        </div> -->

        <!-- <button class="btn google" (click)="loginGoogle()" [disabled]="pendingResendEmail">
          <i class="icon-Google"></i>
          <div class="flex-1 text-center">Tiếp tục với Google</div>
        </button> -->
      </form>
    </div>
  </div>
  <div class="hero-img hidden md:flex justify-center flex-shrink-0 overflow-hidden relative">
    <img class="w-full h-full object-cover absolute top-0" src="/assets/images/hero-image.webp" alt="" />
    <span class="text-white text-[36px] font-semibold text-center relative">Tri thức khởi đầu<br />từ “Tại sao”?</span>
  </div>
</div>
<div
  *ngIf="userNotConfirmedError"
  class="bg-blueGrey-100 absolute top-0 left-0 w-screen h-screen flex items-center justify-center p-6"
>
  <div class="flex flex-col items-center justify-center w-full sm:w-[493px] gap-6">
    <img src="assets/images/Account Not Verified.svg" />
    <div class="bg-white rounded-sm p-6 flex flex-col gap-6">
      <h4 class="text-primaryBlue">Tài khoản của bạn chưa được xác thực</h4>
      <div class="flex flex-col gap-2">
        <span
          >Để có thể sử dụng ứng dụng Kyons, bạn cần <strong>nhấp vào đường dẫn xác thực</strong> đã được gửi trong
          email đăng ký của bạn.</span
        >
        <span>Ngoài ra, bạn có thể yêu cầu gửi lại link xác thực bằng cách bấm vào nút dưới đây</span>
      </div>
      <button class="btn" (click)="resend()" [disabled]="pendingResendEmail">
        Gửi lại email xác thực @if(pendingResendEmail){({{ countdown }}s)}
      </button>
      <button class="btn btn-rounded" (click)="userNotConfirmedError = false">Quay lại đăng nhập</button>
    </div>
  </div>
</div>
<div
  *ngIf="resendVerificationEmailError"
  class="absolute top-0 left-0 w-full h-screen bg-black bg-opacity-80 flex items-center justify-center"
>
  <div class="col rounded-2xl bg-white gap-6 p-6 w-full md:w-[700px] items-center">
    <img src="/assets/images/warning.webp" alt="" />
    <div class="col w-full gap-6">
      <h5 class="text-center">Chú ý! Chú ý!</h5>
      <span>
        Hệ thống hiện đang gặp sự cố, bạn vui lòng thử lại sau vài phút hoặc liên hệ
        <a href="https://www.facebook.com/KyonsVN" target="_blank">Kyons Fanpage</a> để được hỗ trợ kịp thời!
      </span>
      <button (click)="resendVerificationEmailError = false" class="btn w-full">Mình đã hiểu</button>
    </div>
  </div>
</div>
