<student-loading *ngIf="isLoading"></student-loading>
<div class="flex w-full justify-center">
  <div class="col gap-4 w-full max-w-[1122px] p-6 md:p-12 h-screen">
    <button (click)="goBack()" class="icon-btn self-end md:hidden"><i class="icon-Close"></i></button>
    <div class="flex items-center justify-between w-full">
      <div class="flex gap-4 items-center">
        <button (click)="goBack()" class="no-underline gap-2 items-center text-orange hidden md:flex">
          <i class="icon-ArrowLeft"></i>
          <span>Về lộ trình học</span>
        </button>
        <h4>{{ learningGoal.name }}</h4>
      </div>
      <div class="hidden md:flex gap-2">
        <div class="menu-item" [routerLink]="paths.home.path">
          <img src="/assets/images/Home.svg" alt="" />
          <span>Trang chủ</span>
        </div>
        <div class="menu-item" [routerLink]="paths.package.path">
          <img src="/assets/images/Store.svg" alt="" />
          <span>Thanh toán</span>
        </div>
      </div>
    </div>
    <div
      class="col rounded-lg bg-white p-4 gap-4 overflow-y-auto md:overflow-hidden md:flex-1 h-[calc(100vh_-_280px)]"
      *ngIf="!isLoading"
    >
      <div class="flex items-center justify-between w-full">
        <h6>
          Câu {{ currentQuestionIndex + 1 }}
          <!-- <span *ngIf="!questions[currentQuestionIndex].isCorrectAnswer" class="text-red-0"
            >Chưa phải đáp án đúng!</span
          ><span *ngIf="questions[currentQuestionIndex].isCorrectAnswer" class="text-darkEmerald"
            >Đáp án chính xác!</span
          > -->
        </h6>
        <a href="https://forms.gle/b36mTdMWNRY1qkZh7" target="_blank" class="btn-rounded hidden md:flex">Báo lỗi</a>
        <a href="https://forms.gle/b36mTdMWNRY1qkZh7" target="_blank" class="btn-rounded btn-icon block md:hidden"
          ><i class="icon-Error"></i
        ></a>
      </div>
      <div class="col gap-2 md:flex-1 md:max-h-screen md:overflow-y-auto">
        <span [innerHTML]="questions[currentQuestionIndex].content | safeHtml"></span>
        <!-- <span [innerHTML]="questions[currentQuestionIndex].html | safeHtml"></span> -->
        <span [innerHTML]="questions[currentQuestionIndex].explanation | safeHtml"></span>
      </div>
    </div>
    <div class="w-full">
      <!-- <div class="hidden md:flex flex-1 gap-2">
        <strong class="uppercase">Phím tắt:</strong>
        <span>Bấm 1,2,3,4 chọn đáp án, bấm space sẽ làm tiếp hoặc nộp bài</span>
      </div> -->
      <div class="flex gap-2 md:gap-4 items-center w-full overflow-hidden">
        <button (click)="scrollLeft()" [disabled]="currentQuestionIndex === 0" class="btn hidden md:flex">
          Câu trước
        </button>
        <button
          (click)="scrollLeft()"
          [disabled]="currentQuestionIndex === 0"
          class="btn btn-icon btn-large flex md:hidden"
        >
          <i class="icon-ArrowLeft"></i>
        </button>
        <div class="flex-1 flex gap-1 w-full overflow-hidden">
          <button class="btn-rounded btn-icon hidden md:flex" (click)="previousPage()">
            <i class="icon-ArrowLeft"></i>
          </button>
          <div #scrollElm class="w-full md:w-[calc(100%_-_92px)] overflow-x-auto flex gap-1 hide-scrollbar">
            <button
              class="btn btn-icon fill-black"
              *ngFor="let question of questions; index as i"
              [ngClass]="{
                'fill-blue': i === currentQuestionIndex
              }"
              (click)="currentQuestionIndex = i"
            >
              {{ i + 1 }}
            </button>
          </div>
          <button class="btn-icon btn-rounded hidden md:flex" (click)="nextPage()">
            <i class="icon-ArrowRight"></i>
          </button>
        </div>
        <button
          [disabled]="currentQuestionIndex === questions.length - 1"
          (click)="scrollRight()"
          class="btn hidden md:flex"
        >
          Câu kế tiếp
        </button>
        <button
          (click)="scrollRight()"
          [disabled]="currentQuestionIndex === questions.length - 1"
          class="btn btn-icon btn-large flex md:hidden"
        >
          <i class="icon-ArrowRight"></i>
        </button>
      </div>
    </div>
    <!-- <div class="flex bg-lightOrange-4 w-full h-[56px] items-center justify-between px-6 rounded-lg">
      <span><b class="text-orange">Bạn muốn cải thiện điểm số?</b> Bấm <b>Tạo lộ trình học</b> để bắt đầu ngay!</span>
      <button
        [disabled]="status !== MockTestStatus.learning_path_received"
        (click)="activateLearningPath()"
        class="btn"
      >
        Tạo lộ trình học
      </button>
    </div> -->
  </div>
</div>
