.bg-image {
  background: url('/assets/images/Group 1454.svg'), linear-gradient(11.37deg, #10182b 66.9%, #315d93 108.07%);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 90%, cover;
}
.bg-gradient {
  background: linear-gradient(1.96deg, #0f172a 82.21%, #315d93 125.33%);
}
.lesson-block {
  @apply w-[130px] md:w-[200px] h-[130px] md:h-[200px] aspect-square rounded-2xl flex flex-col items-stretch justify-between pt-5 md:pt-8 pb-4 px-4 bg-no-repeat text-white relative bg-right-top;
  background-size: 100%;
  z-index: 1;
  &.new-block {
    @apply bg-blue-500;
    background-image: url('/assets/images/NewBlock.webp');
    box-shadow: 0px 9px 22px 1px rgba(6, 165, 255, 0.7);
  }
  &.complete-block {
    @apply bg-emerald-0;
    background-image: url('/assets/images/CompleteBlock.webp');
    box-shadow: 0px 9px 22px 1px rgba(52, 211, 153, 0.7);
  }
  &.waiting-block {
    @apply bg-blueGrey-400 cursor-default;
    background-image: url('/assets/images/WaitingBlock.webp');
  }
  &.finish-block {
    @apply bg-blueGrey-400;
    background: url('/assets/images/FinishBlock.webp'),
      radial-gradient(69.35% 75.69% at 47.67% 67.88%, #1e293b 0%, #2a4a73 80%, #315d93 100%);
    background-size: contain;
    box-shadow: 0px 9px 22px rgba(251, 146, 60, 0.5);
  }
}
.even,
.odd {
  @apply relative;
}
.even,
.odd {
  .path:nth-child(2),
  .path:nth-child(4) {
    content: '';
    display: block;
    background-image: url('/assets/images/BlockPath.svg');
    background-size: 30px 24px;
    width: 30px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    z-index: 0;
  }
}

.even {
  .path:nth-child(2) {
    @apply left-[120px] md:left-[196px];
  }
  .path:nth-child(4) {
    right: 196px;
  }
}

.odd {
  @apply flex-row-reverse;
  .path:nth-child(2) {
    @apply right-[120px] md:right-[196px];
  }
  .path:nth-child(4) {
    left: 196px;
  }
}

$w-md: 56px;
$w: 56px * 0.75;
$h-md: 270px;
$h: 270px * 0.75;
.even:not(:first-child)::before {
  content: '';
  @apply block bg-[url('/assets/images/BlockPathCurve.svg')] bg-no-repeat absolute z-0;
  background-size: $w-md $h-md;
  width: $w-md;
  height: $h-md;
  left: -$w-md;
  top: -164px;
  @media screen and (max-width: 767px) {
    background-size: $w $h;
    width: $w;
    height: $h;
    left: -28px;
    top: -120px;
  }
}

.odd::after {
  content: '';
  @apply block bg-[url('/assets/images/BlockPathCurve.svg')] bg-no-repeat absolute z-0 rotate-180;
  background-size: $w-md $h-md;
  width: $w-md;
  height: $h-md;
  right: -$w-md;
  top: -164px;
  @media screen and (max-width: 767px) {
    background-size: $w $h;
    width: $w;
    height: $h;
    right: -28px;
    top: -120px;
  }
}
.bg-robot {
  background-image: url('/assets/images/robot.webp');
  background-repeat: no-repeat;
  background-position: top -14px right 50px;
}
.bg-blue-gradient {
  background: linear-gradient(90deg, #27b1ff 48.96%, #315d93 89.95%);
}
.bg-white-gradient {
  background: linear-gradient(49.92deg, #ffffff 23.44%, #d3efff 100.07%);
}
