<div *ngIf="show" class="w-full flex h-14 text-base items-center justify-center relative">
  <div class="w-full flex relative px-6 xl:p-0 items-center">
    <a *ngIf="theme === 'default'" href="/"><img src="/assets/images/logo-h.svg" alt="" /></a>
    <a *ngIf="theme === 'universe'" href="/"><img src="/assets/images/logo-horizontal-light.svg" alt="" /></a>
    <div class="flex-1"></div>
    <ul class="flex items-center gap-2">
      <li>
        <a
          class="menu-item home"
          [routerLink]="'/'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (isActiveChange)="(this.ngOnInit)"
        >
          <img src="/assets/images/Home.svg" alt="" />
          <span>Trang chủ</span>
        </a>
      </li>
      <li>
        <a
          class="menu-item home"
          [routerLink]="paths.chatbot.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (isActiveChange)="(this.ngOnInit)"
        >
          <img src="/assets/images/FAQ.svg" alt="" />
          <span>Chat với Kyo</span>
        </a>
      </li>
      <li>
        <a
          class="menu-item"
          [routerLink]="paths.account.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (isActiveChange)="(this.ngOnInit)"
        >
          <img src="/assets/images/Profile.svg" alt="" />
          <span>Tài khoản</span>
        </a>
      </li>
    </ul>
    <div class="w-4"></div>
    <i class="icon-Settings cursor-pointer text-2xl text-orange" (click)="showSettings = !showSettings"></i>
    <div
      *ngIf="showSettings"
      class="absolute z-20 right-0 top-full rounded-lg p-4"
      [ngClass]="{ 'bg-white': theme === 'default', 'bg-black': theme === 'universe' }"
    >
      <h5>Giao diện</h5>
      <div class="flex gap-2">
        <button class="btn" (click)="setTheme('default')">Mặc định</button>
        <button class="btn !bg-teal-0 !border-teal-0" (click)="setTheme('universe')">Universe</button>
      </div>
    </div>
  </div>
  <div *ngIf="showSettings" class="fixed top-0 left-0 h-screen w-screen z-10" (click)="showSettings = false"></div>
</div>
