<div class="flex flex-col min-h-full">
  <div class="flex flex-col gap-6 py-6 px-11">
    <div class="flex gap-11">
      <span
        [routerLink]="paths.profile"
        class="h7 text-blueGrey-400 cursor-pointer hover:text-blueGrey-500"
        >Hồ sơ của bạn</span
      >
      <span class="h7">Kỹ năng và cây kiến thức</span>
    </div>
  </div>
  <div class="flex px-11 gap-6">
    <div
      class="card bg-white w-5/12 items-start!important justify-start gap-6 p-6 overflow-auto"
      style="height: calc(100vh - 12rem)"
    >
      <div class="flex flex-col gap-4 min-h-[200px]">
        <div class="flex flex-col gap-2">
          <span class="h8">Reported Speech - Cấp độ 1</span>
          <div class="flex gap-2">
            <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
            <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
            <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
            <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
            <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
          </div>
        </div>
        <p>Nhận diện được mẫu câu Requests khi ở dạng trực tiếp.</p>
      </div>
      <div class="flex flex-col gap-4 min-h-[200px]">
        <div class="flex flex-col gap-2">
          <span class="h8">Reported Speech - Cấp độ 2</span>
          <div class="flex gap-2">
            <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
            <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
            <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
            <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
            <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
          </div>
        </div>
        <p>
          Vận dụng được cấu trúc câu "S + asked + somebody + (not) to do
          something" khi đổi sang câu gián tiếp.
        </p>
      </div>
      <div class="flex flex-col gap-4 min-h-[200px]">
        <div class="flex flex-col gap-2">
          <span class="h8">Reported Speech - Cấp độ 3</span>
          <div class="flex gap-2">
            <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
            <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
            <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
            <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
            <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
          </div>
        </div>
        <p>
          Vận dụng đổi từ câu trực tiếp sang gián tiếp và ngược lại sử dụng cấu
          trúc câu Requests.
        </p>
      </div>
    </div>
    <div
      class="w-7/12"
      style="
        background-image: url('assets/images/Group 1413.svg');
        background-repeat: no-repeat;
        background-position-x: right;
      "
      alt="Knowledge Tree"
    ></div>
  </div>
</div>
