<div class="bg-blueGrey-100 flex items-start justify-center w-full h-screen">
  <div class="md:w-[454px] flex flex-col items-center justify-start gap-6 py-[90px]">
    <img src="/assets/images/Resend email.svg" alt="" />
    <div class="col bg-white rounded-lg p-6 gap-6">
      <h4>Email với đường dẫn xác thực đã trên đường tới với bạn rồi nè</h4>
      <span>Nếu không tìm thấy email, bạn kiểm tra thử mục Spam và quảng cáo xem sao 🤔?</span>
      <span
        >Qua 10 phút vẫn không thấy email nào? Liên hệ
        <a href="https://www.facebook.com/KyonsVN" target="_blank" class="text-orange font-bold underline"
          >Kyons fanpage</a
        >
        để được hỗ trợ kịp thời!</span
      >
      <div class="col gap-2">
        <a [routerLink]="paths.signIn.path" class="btn orange">Quay lại đăng nhập</a>
      </div>
    </div>
  </div>
</div>
