.bg-image {
  background-image: url('../../../../assets/images/Frame 1347.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all ease 0.5s;
  @media (max-width: 767px) {
    background-image: none;
  }
}

.bg-image2 {
  background-image: url('../../../../assets/images/Frame 1347.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all ease 0.5s;
}
