<div class="p-6 md:p-11 w-full h-full col md:items-center md:justify-center">
  <div class="w-full flex md:hidden justify-end">
    <a (click)="back()" class="icon-btn"><i class="icon-Close"></i></a>
  </div>
  <div *ngIf="hasError === ''" class="flex flex-col w-full md:w-[434px] gap-4">
    <h2 class="mb-0 hidden md:block">Chọn chương trình học</h2>
    <h4 class="mb-0 md:hidden">Chọn chương trình học</h4>
    <div class="rounded-lg p-6 flex flex-col gap-6 bg-white items-start">
      <div class="flex flex-col gap-2 w-full">
        <select class="form-control w-full" [(ngModel)]="selectedSubject" (ngModelChange)="changeSubject()">
          <option [ngValue]="null" disabled selected>Chọn môn</option>
          <option *ngFor="let subject of subjects" [ngValue]="subject">
            {{ subject.label }}
          </option>
        </select>
        <select
          name="program"
          id="program"
          class="form-control w-full"
          [attr.disabled]="this.selectedSubject === null ? 'disabled' : null"
          [(ngModel)]="selectedProgram"
          (ngModelChange)="changeProgram()"
        >
          <option [ngValue]="emptyProgram" disabled selected>Chọn chương trình</option>
          <option *ngFor="let program of programs" [ngValue]="program">
            {{ program.name }}
          </option>
        </select>
        <select
          name="target"
          id="target"
          class="form-control w-full"
          [(ngModel)]="selectedTarget"
          [attr.disabled]="this.selectedProgram.id === '' ? 'disabled' : null"
        >
          <option [ngValue]="emptyLearningGoal" disabled selected>Mục tiêu học tập</option>
          <ng-container *ngFor="let target of targets">
            <option [ngValue]="target">{{ target.name }}</option>
          </ng-container>
        </select>
      </div>
      <button
        (click)="submit()"
        class="btn primary w-full"
        [attr.disabled]="selectedTarget === emptyLearningGoal || isLoading ? 'disabled' : null"
      >
        {{ isLoading ? 'Đang xử lý' : 'Bắt đầu' }}
      </button>
      <a [routerLink]="paths.home.path" class="hidden md:block">Về trang chủ</a>
    </div>
  </div>
  <div
    *ngIf="hasError === 'RanOutMockTest'"
    class="fixed w-full h-full left-0 top-0 flex flex-col items-center justify-center bg-blueGrey-100 p-6 md:m-0"
  >
    <div class="w-full md:w-[400px] bg-white rounded-lg p-8 flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <div class="h7">Bạn đã sử dụng hết bài kiểm tra!</div>
        <span>Để tạo mục tiêu mới, bạn cần mua thêm gói dịch vụ Kyons.</span>
      </div>
      <div class="flex justify-between">
        <button (click)="hasError = ''" class="btn-rounded">Không đổi mục tiêu</button>
        <a class="btn" [routerLink]="paths.package.path">Mua gói</a>
      </div>
    </div>
    <div class="h-1/3"></div>
  </div>
  <div
    *ngIf="hasError === 'ExistentUnsubmittedMockTest'"
    class="fixed w-full h-full left-0 top-0 flex flex-col items-center justify-center bg-blueGrey-100 p-6 md:m-0"
  >
    <div class="w-full md:w-[400px] bg-white rounded-lg p-8 flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <div class="h7">Chưa hoàn tất bài kiểm tra thông minh</div>
        <span>Bạn có một bào kiểm tra thông minh chưa hoàn tất, vui lòng vào lộ trình học để tiếp tục làm bài</span>
      </div>
      <div class="flex justify-between">
        <a class="btn" [routerLink]="paths.learningPath.path">Đến lộ trình học</a>
      </div>
    </div>
    <div class="h-1/3"></div>
  </div>
</div>
