<div class="p-6 md:p-11 w-full h-full flex items-start justify-center">
  <div *ngIf="hasError === ''" class="flex flex-col w-full md:w-1/3 gap-4">
    <h2 class="mb-0">Chọn chương trình học</h2>
    <div class="rounded-lg p-6 flex flex-col gap-6 bg-white items-start">
      <div class="flex flex-col gap-2 w-full">
        <select class="form-control w-full" [(ngModel)]="selectedSubject" (ngModelChange)="changeSubject()">
          <option [ngValue]="null" disabled selected>Chọn môn</option>
          <option *ngFor="let subject of subjects" [ngValue]="subject">
            {{ subject.label }}
          </option>
        </select>
        <select
          name="program"
          id="program"
          class="form-control w-full"
          [attr.disabled]="this.selectedSubject === null ? 'disabled' : null"
          [(ngModel)]="selectedProgram"
        >
          <option [ngValue]="emptyProgram" disabled selected>Chọn chương trình</option>
          <option *ngFor="let program of programs" [ngValue]="program">
            {{ program.name }}
          </option>
        </select>
        <!-- <select name="target" id="target" class="form-control w-full" [(ngModel)]="selectedTarget">
          <option [ngValue]="null" disabled selected>Mục tiêu học tập</option>
          <option *ngFor="let target of targets" [ngValue]="target">
            {{ target }}
          </option>
        </select> -->
      </div>
      <button
        (click)="submit()"
        class="btn primary w-full"
        [attr.disabled]="selectedProgram === null ? 'disabled' : null"
      >
        Bắt đầu
      </button>
      <a [routerLink]="paths.home">Về trang chủ</a>
    </div>
  </div>
  <div
    *ngIf="hasError === 'LowBalance'"
    class="fixed w-full h-full left-0 top-0 flex flex-col items-center justify-center"
  >
    <div class="w-full md:w-[400px] bg-white rounded-lg p-8 flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <div class="h7">Bạn đã dùng hết số lượng bài kiểm tra</div>
        <span>Để tạo mục tiêu mới, bạn cần mua thêm gói dịch vụ Kyons.</span>
      </div>
      <div class="flex justify-between">
        <button (click)="hasError = ''" class="btn-rounded">Không đổi mục tiêu</button>
        <a class="btn" [routerLink]="paths.package">Mua gói</a>
      </div>
    </div>
    <div class="h-1/3"></div>
  </div>
</div>
