<div *ngIf="imageRank === 'ss'" class="leading-6">
  <small>(Dành cho top 1 server)</small>
  <p></p>
  <p>01 Combo quà tặng Razer nâng cấp bàn học gồm: Bàn phím, chuột, và headphone</p>
  <p>01 tháng tự do làm Smart Mock Test (Bài Thi thử Thông minh) KHÔNG GIỚI HẠN số bộ đề</p>
  <p>01 tháng sử dụng Kyons MIỄN PHÍ</p>
  <p>Trở thành Kyons Pioneer, nhận ưu đãi độc quyền giảm giá 10% trọn đời khi sử dụng các dịch vụ của Kyons</p>
  <p>Bộ template Powerpoint độc quyền do Kyons thiết kế</p>
  <p>Phần quà bí mật theo khối lớp</p>
</div>
<div *ngIf="imageRank === 's'" class="leading-6">
  <small>(Dành cho top 2 - 10)</small>
  <p></p>
  <p>
    Voucher GotIt 200K sử dụng tại nhiều thương hiệu nổi tiếng (Phúc Long, Starbucks, CGV, Grab, Shopee, Lazada,...)
  </p>
  <p>08 Bộ Smart Mock Test (Bài Thi thử Thông minh)</p>
  <p>01 tháng sử dụng Kyons miễn phí</p>
  <p>Trở thành Kyons Pioneer, nhận ưu đãi độc quyền giảm giá 10% trọn đời khi sử dụng các dịch vụ của Kyons</p>
  <p>Bộ template Powerpoint độc quyền do Kyons thiết kế</p>
  <p>Phần quà bí mật theo khối lớp</p>
</div>
<div *ngIf="imageRank === 'a'" class="leading-6">
  <small>(Dành cho top 11 - 100)</small>
  <p></p>
  <p>06 Bộ Smart Mock Test (Bài Thi thử Thông minh)</p>
  <p>01 tháng sử dụng Kyons miễn phí</p>
  <p>Giảm giá 10% trong vòng 1 năm khi sử dụng các dịch vụ của Kyons</p>
  <p>Bộ template Powerpoint độc quyền do Kyons thiết kế</p>
  <p>Phần quà bí mật theo khối lớp</p>
</div>
<div *ngIf="imageRank === 'b'" class="leading-6">
  <small>(Dành cho top 101 - 500)</small>
  <p></p>
  <p>06 Bộ Smart Mock Test (Bài Thi thử Thông minh)</p>
  <p>01 tháng sử dụng Kyons miễn phí</p>
  <p>Bộ template Powerpoint độc quyền do Kyons thiết kế</p>
  <p>Phần quà bí mật theo khối lớp</p>
</div>
<div *ngIf="imageRank === 'c'" class="leading-6">
  <small>(Dành cho top 501 - 1000)</small>
  <p></p>
  <p>06 Bộ Smart Mock Test (Bài Thi thử Thông minh)</p>
  <p>01 tháng sử dụng Kyons miễn phí</p>
  <p>Phần quà bí mật theo khối lớp</p>
</div>
<div *ngIf="imageRank === 'd'" class="leading-6">
  <small>(Dành cho top 1001+)</small>
  <p></p>
  <p>04 Bộ Smart Mock Test (Bài Thi thử Thông minh)</p>
  <p>14 ngày sử dụng Kyons miễn phí</p>
  <p>Phần quà bí mật theo khối lớp</p>
</div>
