<div class="flex w-full h-full justify-center p-6 md:p-11">
  <div class="flex flex-col w-full max-w-[894px] gap-6">
    <h2>Chọn nội dung</h2>
    <div class="rounded-lg p-6 flex flex-col gap-6 bg-white items-start">
      <span>
        Để đạt mục tiêu [mục tiêu học sinh chọn], Kyons gợi ý bạn hãy nắm vững các kiến thức sau. Bạn có thể điều chỉnh
        số lượng bài học sát với yêu cầu của bạn hoặc có thể chọn hết tất cả bài gợi ý của Kyons bằng cách nhấn vào
        “Chọn tất cả".
      </span>
      <button class="btn-rounded">
        <span class="flex items-center gap-2"
          ><i class="icon-ArrowLeft"></i> Chọn tất cả <i class="icon-ArrowRight"></i
        ></span>
      </button>
    </div>
  </div>
</div>
