<div *ngIf="step !== 2" class="flex-col md:flex md:flex-row h-full md:overflow-hidden">
  <div class="col md:hidden hero-bg py-8 px-6 gap-2" style="height: calc(100vw * 204 / 375)">
    <img src="/assets/images/logo-horizontal-light.webp" alt="" class="self-start h-[32px]" />
    <span class="h7 text-white w-full text-center">Tri thức khởi đầu từ<br />“Tại sao”?</span>
  </div>
  <div class="background-image flex w-full h-full md:items-center justify-center">
    <div class="flex flex-col w-full md:w-[434px] min-h-[338px] p-6 mb-24 gap-6 overflow-auto flex-shrink-0">
      <img src="/assets/images/logo-h.svg" alt="Logo" class="h-12 self-start" />
      <form
        *ngIf="step === 0"
        class="col gap-6 w-full"
        [formGroup]="signUpForm1"
        autocomplete="off"
        [ngClass]="{ 'no-validate': !shouldValidate }"
      >
        <div *ngIf="isSharedFromMockTest()" [beforeunload]="beforeunload"></div>
        <!-- <div *ngIf="isSharedFromMockTest()" class="flex flex-col" [beforeunload]="beforeunload">
                <span class="text-white">Mã giới thiệu:</span>
                <input *ngIf="refFrom !== null && ref" type="text" readonly="readonly" [value]="ref" />
              </div> -->
        <div class="col gap-2">
          <h4>Đăng ký tài khoản Kyons</h4>
        </div>
        <div class="col gap-2 w-full">
          <!-- <div class="col w-full">
            <input #lastNameElm type="text" placeholder="Họ (*)" formControlName="lastName" autocomplete="off" />
          </div>
          <div class="col w-full">
            <input type="text" placeholder="Tên (*)" formControlName="firstName" autocomplete="off" />
          </div> -->
          <div class="col w-full">
            <input
              #emailElm
              type="text"
              placeholder="Nhập email của bạn (*)"
              formControlName="email"
              autocomplete="off"
            />
            <div *ngIf="email.invalid && shouldValidate">
              <!-- <div *ngIf="email.errors?.['required']">Chưa nhập Email.</div> -->
              <div class="error" *ngIf="email.errors?.['pattern']">
                Hãy điền email đúng định dạng. Ví dụ như là: example&#64;gmail.com
              </div>
            </div>
          </div>
          <!-- <div class="col w-full">
            <input
              type="text"
              placeholder="Nhập số điện thoại của bạn (*)"
              formControlName="phone"
              autocomplete="off"
            />
            <div *ngIf="phone.invalid && shouldValidate">
              <div class="error" *ngIf="phone.errors?.['pattern']">Vui lòng nhập đúng số điện thoại.</div>
            </div>
          </div> -->
          <div class="relative w-full">
            <input
              #passwordElm
              [type]="showPassword ? 'text' : 'password'"
              class="w-full"
              placeholder="Nhập mật khẩu"
              formControlName="password"
            />
            <button
              (click)="showPassword = !showPassword"
              class="absolute right-0 top-0 w-11 h-full flex items-center justify-center cursor-pointer"
            >
              <i *ngIf="showPassword" class="icon-VisibilityOff"></i>
              <i *ngIf="!showPassword" class="icon-Visibility"></i>
            </button>
          </div>
          <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
            <div *ngIf="password.errors?.['required']">Chưa nhập mật khẩu.</div>
            <div *ngIf="password.errors?.['pattern']">Mật khẩu không hợp lệ.</div>
          </div>
          <div class="h-4"></div> -->
          <!-- ^((?=.*[A-Z])(?=.*d).{8,99}) -->
          <div *ngIf="password.touched" class="text-sm">
            Mật khẩu phải có:<br />
            <ul class="list-disc">
              <li
                class="ml-5"
                [ngClass]="{
                  'text-red-0': (password.dirty || password.touched) && password.value.length < 8,
                  'text-darkEmerald': (password.dirty || password.touched) && password.value.length >= 8
                }"
              >
                <i
                  *ngIf="(password.dirty || password.touched) && password.value.length < 8"
                  class="text-red-0 icon-Cancel"
                ></i>
                <i
                  *ngIf="(password.dirty || password.touched) && password.value.length >= 8"
                  class="text-red-0 icon-Check"
                ></i>
                &nbsp; Từ 8 ký tự trở lên
              </li>
              <li
                class="ml-5"
                [ngClass]="{
                  'text-red-0': (password.dirty || password.touched) && notHaveUppercase(password.value)
                }"
              >
                Ký tự viết hoa (A-Z)
              </li>
              <li
                class="ml-5"
                [ngClass]="{
                  'text-red-0': (password.dirty || password.touched) && notHaveDigit(password.value)
                }"
              >
                Ký tự số (0-9)
              </li>
              <li
                class="ml-5"
                [ngClass]="{
                  'text-red-0': (password.dirty || password.touched) && notHaveSpecial(password.value)
                }"
              >
                Ký tự đặc biệt (~! &#64;#$%^&*_-+=`|\()&#123;&#125;[]:;"'&#60;>,.?/)
              </li>
            </ul>
          </div>
        </div>
        <label for="tos" class="checkbox dark flex gap-2">
          <input #tos type="checkbox" formControlName="tosChecked" id="tos" />
          <span class="text-sm !mt-0" [ngClass]="{ error: tosChecked.invalid && shouldValidate }">
            Tôi đồng ý với điều kiện và điều khoản sử dụng của Kyons. Xem điều kiện và điều khoản sử dụng tại
            <a [routerLink]="paths.termsOfService.path" target="_blank">đây</a>
          </span>
        </label>
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <button (click)="submitForm1()" class="btn" [disabled]="processing">Tiếp tục</button>
      </form>
      <form *ngIf="step === 1" class="col gap-6 w-full" [formGroup]="signUpForm1" autocomplete="off">
        <div *ngIf="isSharedFromMockTest()" [beforeunload]="beforeunload"></div>
        <!-- <div *ngIf="isSharedFromMockTest()" class="flex flex-col" [beforeunload]="beforeunload">
                <span class="text-white">Mã giới thiệu:</span>
                <input *ngIf="refFrom !== null && ref" type="text" readonly="readonly" [value]="ref" />
              </div> -->
        <div class="col gap-2">
          <h4>Trước khi bắt đầu hành trình...</h4>
          <span>Kyons cần một vài thông tin cơ bản để hiểu bạn hơn nhé!</span>
          <i>Lưu ý: Bạn có thể thay đổi thông tin này sau.</i>
        </div>
        <div class="col gap-2 w-full">
          <div class="col w-full gap-1">
            <span>Ngày sinh của bạn</span>
            <input type="date" placeholder="07/05/2023" formControlName="birthdate" autocomplete="off" />
          </div>
          <div class="col w-full gap-1">
            <span>Khối lớp của bạn</span>
            <select formControlName="class">
              <option value="Lớp 10">Lớp 10</option>
              <option value="Lớp 11">Lớp 11</option>
              <option value="Lớp 12">Lớp 12</option>
            </select>
          </div>
          <div class="col w-full gap-1">
            <span>Bạn đang học trường nào?</span>
            <input type="text" placeholder="VD: THPT Nguyễn Thượng Hiền" formControlName="school" autocomplete="off" />
          </div>
          <div class="col w-full gap-1">
            <span>Thành phố nơi bạn sinh sống?</span>
            <select formControlName="city">
              <option value="TP Hồ Chí Minh" selected>TP Hồ Chí Minh</option>
              <option value="Hà Nội">Hà Nội</option>
              <option value="An Giang">An Giang</option>
              <option value="Bà Rịa-Vũng Tàu">Bà Rịa-Vũng Tàu</option>
              <option value="Bạc Liêu">Bạc Liêu</option>
              <option value="Bắc Giang">Bắc Giang</option>
              <option value="Bắc Kạn">Bắc Kạn</option>
              <option value="Bắc Ninh">Bắc Ninh</option>
              <option value="Bến Tre">Bến Tre</option>
              <option value="Bình Dương">Bình Dương</option>
              <option value="Bình Định">Bình Định</option>
              <option value="Bình Phước">Bình Phước</option>
              <option value="Bình Thuận">Bình Thuận</option>
              <option value="Cà Mau">Cà Mau</option>
              <option value="Cao Bằng">Cao Bằng</option>
              <option value="Cần Thơ">Cần Thơ</option>
              <option value="Đà Nẵng">Đà Nẵng</option>
              <option value="Đắk Lắk">Đắk Lắk</option>
              <option value="Đắk Nông">Đắk Nông</option>
              <option value="Điện Biên">Điện Biên</option>
              <option value="Đồng Nai">Đồng Nai</option>
              <option value="Đồng Tháp">Đồng Tháp</option>
              <option value="Gia Lai">Gia Lai</option>
              <option value="Hà Giang">Hà Giang</option>
              <option value="Hà Nam">Hà Nam</option>
              <option value="Hà Tĩnh">Hà Tĩnh</option>
              <option value="Hải Dương">Hải Dương</option>
              <option value="Hải Phòng">Hải Phòng</option>
              <option value="Hậu Giang">Hậu Giang</option>
              <option value="Hòa Bình">Hòa Bình</option>
              <option value="Hưng Yên">Hưng Yên</option>
              <option value="Khánh Hòa">Khánh Hòa</option>
              <option value="Kiên Giang">Kiên Giang</option>
              <option value="Kon Tum">Kon Tum</option>
              <option value="Lai Châu">Lai Châu</option>
              <option value="Lạng Sơn">Lạng Sơn</option>
              <option value="Lào Cai">Lào Cai</option>
              <option value="Lâm Đồng">Lâm Đồng</option>
              <option value="Long An">Long An</option>
              <option value="Nam Định">Nam Định</option>
              <option value="Nghệ An">Nghệ An</option>
              <option value="Ninh Bình">Ninh Bình</option>
              <option value="Ninh Thuận">Ninh Thuận</option>
              <option value="Phú Thọ">Phú Thọ</option>
              <option value="Phú Yên">Phú Yên</option>
              <option value="Quảng Bình">Quảng Bình</option>
              <option value="Quảng Nam">Quảng Nam</option>
              <option value="Quảng Ngãi">Quảng Ngãi</option>
              <option value="Quảng Ninh">Quảng Ninh</option>
              <option value="Quảng Trị">Quảng Trị</option>
              <option value="Sóc Trăng">Sóc Trăng</option>
              <option value="Sơn La">Sơn La</option>
              <option value="Tây Ninh">Tây Ninh</option>
              <option value="Thái Bình">Thái Bình</option>
              <option value="Thái Nguyên">Thái Nguyên</option>
              <option value="Thanh Hóa">Thanh Hóa</option>
              <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
              <option value="Tiền Giang">Tiền Giang</option>
              <option value="Trà Vinh">Trà Vinh</option>
              <option value="Tuyên Quang">Tuyên Quang</option>
              <option value="Vĩnh Long">Vĩnh Long</option>
              <option value="Vĩnh Phúc">Vĩnh Phúc</option>
              <option value="Yên Bái">Yên Bái</option>
            </select>
          </div>
        </div>
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="flex item-center justify-between gap-2">
          <button (click)="step = 0" class="btn-rounded"><i class="icon-ArrowLeft text-[24px]"></i> Quay lại</button>
          <button type="submit" (click)="submitForm2()" class="btn flex-1" [disabled]="processing">
            {{ processing ? 'Đang xử lý' : 'Tạo tài khoản' }}
          </button>
        </div>
      </form>
      <span>Đã có tài khoản? <a [routerLink]="paths.signIn.path">Đăng nhập</a></span>
    </div>
  </div>
  <div class="hero-img hidden md:flex justify-center flex-shrink-0 overflow-hidden relative">
    <img class="w-full h-full object-cover absolute top-0" src="/assets/images/hero-image.webp" alt="" />
    <span class="text-white text-[36px] font-semibold z-10 text-center">Tri thức khởi đầu<br />từ “Tại sao”?</span>
  </div>
</div>
<div
  *ngIf="step === 2"
  class="bg-blueGrey-100 absolute top-0 left-0 w-screen h-screen flex items-center justify-center p-6"
>
  <div class="flex flex-col items-center justify-center w-full sm:w-[700px] gap-6">
    <img src="assets/images/New Account.svg" />
    <div class="bg-white rounded-sm p-6 flex flex-col gap-6">
      <h4 class="text-primaryBlue">Cảm ơn bạn đã tạo tài khoản cùng Kyons!</h4>
      <div class="flex flex-col gap-2">
        <span>Bạn hãy kiểm tra hộp thư <strong>(bao gồm cả mục Spam và quảng cáo)</strong>.</span>
        <span
          >Mật khẩu đăng nhập tạm thời đã được gửi đến địa chỉ email <strong>{{ email.value }}</strong
          >. Bạn vui lòng sử dụng mật khẩu này để đăng nhập vào hệ thống.</span
        >
        <span
          >Trong trường hợp vẫn chưa nhận được bất kì email nào từ Kyons, bạn vui lòng liên hệ với tụi mình tại
          <a href="https://www.facebook.com/KyonsVN" target="_blank">facebook.com/KyonsVN</a> để được hỗ trợ nhé!</span
        >
      </div>
      <a class="btn" [routerLink]="paths.signIn.path">Đăng nhập ngay thôi</a>
    </div>
  </div>
</div>
