<div class="flex flex-col md:flex-row h-full">
  <div *ngIf="step === 0" class="flex flex-col w-full h-full items-center justify-center bg-primaryBlue">
    <div class="flex flex-col w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
      <img src="./assets/images/logo-v.svg" alt="Logo" class="h-24" />
      <div class="h-12"></div>
      <form *ngIf="step === 0" class="flex flex-col" [formGroup]="form" autocomplete="off">
        <input
          [ngClass]="{'!text-orange border-orange': lastName.invalid}"
          type="text"
          #nameElm
          placeholder="Họ"
          formControlName="lastName"
          autocomplete="off"
        />
        <div class="h-1"></div>
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error">
          <div *ngIf="lastName.errors?.['required']">Chưa nhập họ.</div>
        </div>
        <div class="h-4"></div>
        <input
          [ngClass]="{'!text-orange border-orange': firstName.invalid}"
          type="text"
          placeholder="Tên"
          formControlName="firstName"
          autocomplete="off"
        />
        <div class="h-1"></div>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error">
          <div *ngIf="firstName.errors?.['required']">Chưa nhập tên.</div>
        </div>
        <div class="h-4"></div>
        <input
          [ngClass]="{'!text-orange border-orange': email.invalid}"
          type="text"
          #emailElm
          placeholder="Nhập email của bạn"
          formControlName="email"
          autocomplete="off"
        />
        <div class="h-1"></div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
          <div *ngIf="email.errors?.['required']">Chưa nhập Email.</div>
          <div *ngIf="email.errors?.['email']">Email chưa đúng.</div>
        </div>
        <div class="h-4"></div>
        <div class="relative w-full">
          <input
            #passwordElm
            [type]="showPassword ? 'text' : 'password'"
            class="w-full"
            placeholder="Nhập mật khẩu"
            formControlName="password"
          />
          <div
            (click)="showPassword = !showPassword"
            class="absolute right-0 top-0 w-11 h-full flex items-center justify-center cursor-pointer"
          >
            <i *ngIf="showPassword" class="icon-VisibilityOff"></i>
            <i *ngIf="!showPassword" class="icon-Visibility"></i>
          </div>
        </div>
        <div class="h-1"></div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
          <div *ngIf="password.errors?.['required']">Chưa nhập mật khẩu.</div>
          <div *ngIf="password.errors?.['pattern']">Mật khẩu không hợp lệ.</div>
        </div>
        <div class="h-4"></div>
        <!-- ^((?=.*[A-Z])(?=.*d).{8,99}) -->
        <div *ngIf="password.touched" class="text-white text-sm">
          Mật khẩu phải có:<br />
          <ul class="list-disc">
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && password.value.length < 8
              }"
            >
              Từ 8 ký tự trở lên
            </li>
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && notHaveUppercase(password.value)
              }"
            >
              Ký tự viết hoa (A-Z)
            </li>
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && notHaveDigit(password.value)
              }"
            >
              Ký tự số (0-9)
            </li>
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && notHaveSpecial(password.value)
              }"
            >
              Ký tự đặc biệt (~! @#$%^&*_-+=`|\()&#123;&#125;[]:;"'&#60;>,.?/)
            </li>
          </ul>
        </div>
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="h-6"></div>
        <button (click)="submit()" class="btn" [disabled]="(form.touched && form.invalid) || processing">
          {{ processing ? 'Đang xử lý' : 'Tạo tài khoản' }}
        </button>
      </form>
      <div class="h-6"></div>
      <span class="text-white">Đã có tài khoản? <a [routerLink]="paths.home">Đăng nhập</a></span>
    </div>
  </div>
  <div *ngIf="step === 1" class="bg-blueGrey-100 w-screen h-screen flex items-center justify-center p-6">
    <div class="flex flex-col items-center justify-center w-full sm:w-1/2 lg:w-1/4 gap-6">
      <img src="/assets/images/New Account.svg" />
      <div class="bg-white rounded-sm p-6 flex flex-col gap-6">
        <h4 class="text-primaryBlue">Chúc mừng bạn đã tạo tài khoản thành công!</h4>
        <span>Bạn kiểm tra email để xác nhận tài khoản. Sau đó hãy đăng nhập vào Kyons và trải nghiệm nhé.</span>
        <a class="btn" [routerLink]="paths.home">Trở về trang đăng nhập</a>
      </div>
      <div class="h-[100px]"></div>
    </div>
  </div>
</div>
