<div class="w-full h-screen bg-blueGrey-100 flex justify-center">
  <div class="w-full max-w-[1122px] col gap-4 p-6">
    <div class="col gap-2">
      <h4>{{ title }}</h4>
    </div>
    <kyonsvn-questions-progress class="w-full" [progress]="testProgress"></kyonsvn-questions-progress>
    <div class="col rounded-lg bg-white p-4 overflow-y-auto flex-1 min-h-fit">
      <kyonsvn-test-content
        [content]="testContent"
        [submission]="testSubmission"
        (progressEvent)="updateProgress($event)"
        (submissionEvent)="updateSubmission($event)"
        [currentIndex]="currentTestIndex"
        (currentIndexEvent)="currentTestIndex = $event"
        [isActive]="true"
        (completeCallback)="showWaitlistPopup = true; emailElm.nativeElement.focus()"
        [showResult]="showResult"
        (showResultEvent)="showResult = $event"
        class="flex flex-1"
      ></kyonsvn-test-content>
      <div class="justify-between hidden md:flex">
        <div class="hidden md:flex flex-1 flex-col">
          <strong class="uppercase">Phím tắt:</strong>
          <span>Bấm 1,2,3,4 chọn đáp án, bấm space sẽ làm tiếp hoặc nộp bài</span>
        </div>
        <div class="flex gap-2 items-center">
          <button
            id="continue"
            *ngIf="testProgress.isComplete() && showResult"
            (click)="showWaitlistPopup = true; emailElm.nativeElement.focus()"
            class="btn"
          >
            Tiếp
          </button>
          <button
            (click)="handleNextQuestion()"
            [disabled]="testProgress.value < currentTestIndex + 1"
            class="btn"
            *ngIf="!(testProgress.isComplete() && showResult)"
          >
            {{ showResult ? 'Tiếp' : 'Trả lời' }}
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="ads-md">
      <span class="text-white">Muốn luyện tập với vô hạn câu hỏi được tạo ra bởi Trí tuệ nhân tạo (AI)?</span>
      <button class="btn btn-large" (click)="showWaitlistPopup = true">Đăng ký Danh sách chờ của Kyons!</button>
    </div> -->
    <div class="md:hidden w-full flex items-center justify-end gap-2">
      <div class="flex gap-2 items-center justify-center">
        <!-- <a
          class="btn-rounded btn-icon order-1 md:order-1"
          href="https://forms.gle/b36mTdMWNRY1qkZh7"
          target="_blank"
          #tooltip="matTooltip"
          matTooltip="Nội dung “có vấn đề”? Thông báo cho Kyons liền tay!"
          matTooltipPosition="above"
          matTooltipHideDelay="5000"
          matTooltipClass="above"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container"
          ><i class="icon-Error"></i
        ></a> -->
        <button
          *ngIf="testProgress.isComplete() && showResult"
          (click)="showWaitlistPopup = true"
          class="btn btn-icon order-2 md:order-3"
        >
          <i class="icon-Submit"></i>
        </button>
        <button
          (click)="handleNextQuestion()"
          [disabled]="testProgress.value < currentTestIndex + 1"
          class="btn btn-icon order-2 md:order-3"
          *ngIf="!(testProgress.isComplete() && showResult)"
        >
          <i class="icon-ArrowRight"></i>
        </button>
      </div>
    </div>
    <div class="ads">
      <img class="w-[155px]" src="/assets/images/logo-horizontal-light.svg" alt="Logo" />
      <span class="text-white">Muốn luyện tập với vô hạn câu hỏi được tạo ra bởi Trí tuệ nhân tạo (AI)?</span>
      <a class="btn btn-large w-full md:w-auto" href="https://kyons.vn/pricing/#compare">
        Đăng ký Gói đặt trước ưu đãi
      </a>
    </div>
  </div>
</div>
<div
  *ngIf="showWaitlistPopup"
  class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-start bg-blueGrey-100"
>
  <div class="col gap-4 pb-6 rounded-lg w-full max-w-[500px] h-full">
    <img src="/assets/images/hero-image-xs.webp" alt="Banner" />
    <div class="col px-6 gap-6 h-full">
      <strong>Bạn vui lòng nhập địa chỉ email để nhận kết quả nhé</strong>
      <form [formGroup]="signUpForm" autocomplete="off">
        <input
          #emailElm
          type="text"
          placeholder="Nhập email"
          formControlName="email"
          autocomplete="off"
          class="w-full"
        />
        <div *ngIf="email.invalid && shouldValidate">
          <!-- <div *ngIf="email.errors?.['required']">Chưa nhập Email.</div> -->
          <div class="error" *ngIf="email.errors?.['email']">
            Hãy điền email đúng định dạng. Ví dụ như là: example&#64;gmail.com
          </div>
        </div>
      </form>
      <button [disabled]="signUpForm.invalid && shouldValidate" (click)="testComplete()" class="btn btn-large w-full">
        Nhận kết quả
      </button>
      <div class="flex-1"></div>
      <div class="ads">
        <span class="text-white">Muốn luyện tập với vô hạn câu hỏi được tạo ra bởi Trí tuệ nhân tạo (AI)?</span>
        <a class="btn btn-large w-full md:w-auto" href="https://kyons.vn/pricing/#compare">
          Đăng ký Gói đặt trước ưu đãi
        </a>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="showSuccessPopup"
  class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-blueGrey-100 p-6"
>
  <div class="col gap-6 pb-6 rounded-lg w-full max-w-[500px] items-center">
    <img src="/assets/images/Resend email.svg" alt="Success" class="w-[150px] h-[150px]" />
    <div class="col p-6 gap-6 bg-white rounded-lg">
      <h4 class="text-center">Kết quả mini-game đã được gửi tới bạn</h4>
      <p>Nếu không tìm thấy email, bạn kiểm tra thử mục Spam và quảng cáo xem sao 🤔?</p>
      <p>
        Qua 10 phút vẫn không thấy email nào? Liên hệ
        <a href="https://www.facebook.com/KyonsVN" target="_blank">Kyons fanpage</a> để được hỗ trợ kịp thời!
      </p>
      <a href="https://kyons.vn" class="btn btn-large w-full"> Về trang chủ Kyons </a>
    </div>
  </div>
</div>
<div
  *ngIf="showFailPopup"
  class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-blueGrey-100 p-6"
>
  <div class="col gap-6 pb-6 rounded-lg w-full max-w-[500px] items-center">
    <img src="/assets/images/Sorry.svg" alt="Fail" class="w-[150px] h-[150px]" />
    <div class="col p-6 gap-6 bg-white rounded-lg">
      <h4 class="text-center">{{ failMessage }}</h4>
      <p>
        Liên hệ
        <a href="https://www.facebook.com/KyonsVN" target="_blank">Kyons fanpage</a> để được hỗ trợ kịp thời bạn nhé.
      </p>
      <a href="https://kyons.vn" class="btn btn-large w-full"> Về trang chủ Kyons </a>
    </div>
  </div>
</div>
