<div class="flex flex-col md:flex-row h-full">
  <div class="flex flex-col w-full h-full items-center justify-center bg-primaryBlue">
    <div class="flex flex-col w-full md:w-[434px] p-4">
      <img src="./assets/images/logo-v.svg" alt="Logo" class="h-24" />
      <div class="h-12"></div>
      <form *ngIf="step === 0" class="flex flex-col" [formGroup]="emailForm" autocomplete="off">
        <p class="text-white">Nhập email của bạn để nhận mã thay đổi mật khẩu.</p>
        <div class="h-6"></div>
        <input
          [ngClass]="{ '!text-orange border-orange': email.invalid || emailNotFound }"
          type="text"
          #emailElm
          placeholder="Nhập email"
          formControlName="email"
          autocomplete="off"
        />
        <div class="h-1"></div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
          <div *ngIf="email.errors?.['required']">Chưa nhập Email.</div>
          <div *ngIf="email.errors?.['email']">Email chưa đúng.</div>
        </div>
        <div *ngIf="emailNotFound && (email.dirty || email.touched)" class="error">
          <div>Không tìm thấy tài khoản trùng khớp email.</div>
        </div>
        <div class="error mt-1" *ngIf="errorMessage">Thông tin chưa chính xác</div>
        <div class="h-4"></div>
        <button (click)="sendEmail()" class="btn" [disabled]="(emailForm.touched && emailForm.invalid) || processing">
          {{ processing ? 'Đang xử lý' : 'Gửi tôi mã code' }}
        </button>
      </form>
      <form *ngIf="step === 1" class="flex flex-col" [formGroup]="resetForm" autocomplete="off">
        <div class="h-12"></div>
        <p class="text-white">
          Mã code đã được gửi đến email của bạn. Vui lòng kiểm tra email và nhập mã vào ô bên dưới.
        </p>
        <div class="h-6"></div>
        <input
          [ngClass]="{ '!text-orange': wrongCode || (code.invalid && (code.dirty || code.touched)) }"
          type="text"
          #codeElm
          placeholder="Nhập mã code"
          formControlName="code"
          autocomplete="new-code"
        />
        <div class="h-1"></div>
        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="error">
          <div *ngIf="code.errors?.['required']">Chưa nhập mã.</div>
          <div *ngIf="code.errors?.['pattern']">Cú pháp chưa đúng.</div>
        </div>
        <div *ngIf="wrongCode" class="error">
          <div>Mã xác thực không đúng.</div>
        </div>
        <div class="h-4"></div>
        <div class="relative w-full">
          <input
            #passwordElm
            [type]="showPassword ? 'text' : 'password'"
            class="w-full"
            placeholder="Nhập mật khẩu"
            formControlName="password"
          />
          <div
            (click)="showPassword = !showPassword"
            class="absolute right-0 top-0 w-11 h-full flex items-center justify-center cursor-pointer"
          >
            <i *ngIf="showPassword" class="icon-VisibilityOff"></i>
            <i *ngIf="!showPassword" class="icon-Visibility"></i>
          </div>
        </div>
        <div class="h-1"></div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
          <div *ngIf="password.errors?.['required']">Chưa nhập mật khẩu.</div>
          <div *ngIf="password.errors?.['pattern']">Mật khẩu không hợp lệ.</div>
        </div>
        <div class="h-4"></div>
        <!-- ^((?=.*[A-Z])(?=.*d).{8,99}) -->
        <div *ngIf="password.touched" class="text-white text-sm">
          Mật khẩu phải có:<br />
          <ul class="list-disc">
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && password.value.length < 8
              }"
            >
              Từ 8 ký tự trở lên
            </li>
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && notHaveUppercase(password.value)
              }"
            >
              Ký tự viết hoa (A-Z)
            </li>
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && notHaveDigit(password.value)
              }"
            >
              Ký tự số (0-9)
            </li>
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && notHaveSpecial(password.value)
              }"
            >
              Ký tự đặc biệt (~! &#64;#$%^&*_-+=`|\()&#123;&#125;[]:;"'&#60;>,.?/)
            </li>
          </ul>
        </div>
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="h-6"></div>
        <button (click)="sendCode()" class="btn" [disabled]="(resetForm.touched && resetForm.invalid) || processing">
          {{ processing ? 'Đang xử lý' : 'Tiếp tục' }}
        </button>
      </form>
      <div *ngIf="step === 2" class="text-white">
        Đổi mật khẩu thành công! Hãy đăng nhập và trải nghiệm Kyons thôi nào!
      </div>
      <div class="h-6"></div>
      <a [routerLink]="paths.home.path" [ngClass]="{ 'text-orange': step !== 2, btn: step === 2 }"
        >Quay lại đăng nhập</a
      >
    </div>
  </div>
</div>
