<div class="px-11 py-7 min-h-full flex flex-col gap-6">
  <h1>Bạn thấy buổi học với gia sư thế nào?</h1>
  <div class="flex w-full">
    <div class="card bg-white flex flex-col gap-4">
      <div class="flex flex-col w-full gap-2">
        <span class="flex-1">Đánh giá chung về buổi học</span>
        <div class="flex gap-2">
          <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
          <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
          <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
          <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
          <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
        </div>
      </div>
      <div class="flex flex-col w-full gap-2">
        <span class="flex-1"
          >Em có thấy cách dạy của giáo viên phù hợp với em không?</span
        >
        <div class="flex gap-2">
          <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
          <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
          <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
          <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
          <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
        </div>
      </div>
      <div class="flex flex-col w-full gap-2">
        <span class="flex-1">Có thích bài tập không</span>
        <div class="flex gap-2">
          <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
          <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
          <div class="w-8 h-2 rounded-md bg-lightBlue-1"></div>
          <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
          <div class="w-8 h-2 rounded-md bg-blueGrey-200"></div>
        </div>
      </div>
      <button class="btn">Gửi đánh giá</button>
      <a href="" class="text-orange">Cám ơn nhưng tôi sẽ đánh giá sau</a>
    </div>
    <div id="tutor" class="flex items-center flex-1 justify-center">
      <div
        class="bg-secondaryBlue rounded-md text-right h-24 shadow-3 p-6 flex-shrink-0 z-10"
      >
        <h3 class="text-white">Nguyễn Hoàng Vinh</h3>
        <p class="text-white">Gia sư Anh</p>
      </div>
      <div class="bg-image relative">
        <img
          style="visibility: hidden"
          src="assets/images/Group 1396.svg"
          alt="Tutor's background"
        />
        <div
          class="absolute h-full w-full flex items-center top-0 justify-center"
        >
          <div
            id="tutor_avatar"
            class="flex rounded-full border-4 border-lightBlue-1 w-200px h-200px relative bg-white"
          >
            <img
              src="assets/images/tutor.jpg"
              alt="Tutor's avatar"
              class="rounded-full"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
