.bg-image {
  background-image: url('../../../../assets/images/Group 1396.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all ease 0.5s;
}
#tutor_avatar::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: -100%;
  border-bottom: 4px solid #06a5ff;
}
