<div class="flex flex-col md:flex-row h-full">
  <div
    class="flex w-full h-full items-center justify-center bg-primaryBlue p-6"
    [ngClass]="{'md:w-7/12': isPromotionEnable}"
  >
    <form class="flex flex-col w-full sm:w-[434px] mb-24" [formGroup]="signInForm">
      <img (dblclick)="debug()" src="./assets/images/logo-v.svg" alt="Logo" class="h-24" />
      <div class="h-12"></div>
      <input type="text" #emailElm placeholder="Enter email" formControlName="email" autocomplete="email" />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <div *ngIf="email.errors?.['required']">Email is empty.</div>
        <div *ngIf="email.errors?.['email']">Please use email with format abc@email.com.</div>
      </div>
      <div class="h-4"></div>
      <div class="relative w-full">
        <input
          #passwordElm
          [type]="showPassword ? 'text' : 'password'"
          class="w-full"
          placeholder="Enter password"
          formControlName="password"
          autocomplete="current-password"
        />
        <div
          (click)="showPassword = !showPassword"
          class="absolute right-0 top-0 w-11 h-full flex items-center justify-center cursor-pointer"
        >
          <i *ngIf="showPassword" class="icon-VisibilityOff"></i>
          <i *ngIf="!showPassword" class="icon-Visibility"></i>
        </div>
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors?.['required']">Password is empty.</div>
      </div>
      <div class="error" *ngIf="errorMessage">Email or password is incorrect</div>
      <div class="h-6"></div>
      <button (click)="login()" class="btn" [disabled]="(signInForm.touched && signInForm.invalid) || processing">
        {{ processing ? 'Processing' : 'Sign in' }}
      </button>
      <div class="h-6"></div>
      <a [routerLink]="paths.resetPassword.path" class="text-orange">Forget password?</a>
      <div class="h-2"></div>
    </form>
  </div>
</div>
