.bg-orange-gradient {
  background: url('/assets/images/SHORTCUT_2.svg') no-repeat right bottom,
    linear-gradient(90deg, #fb7200 48.96%, #de6501 89.95%);
  background: url('/assets/images/SHORTCUT_2.svg') no-repeat right bottom,
    -moz-linear-gradient(90deg, #fb7200 48.96%, #de6501 89.95%);
  background: url('/assets/images/SHORTCUT_2.svg') no-repeat right bottom,
    -webkit-linear-gradient(0deg, #fb7200 48.96%, #de6501 89.95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FB7200",endColorstr="#DE6501",GradientType=1);
}

.btn-extra-large {
  @apply p-6 h-20 rounded-2xl;
  span {
    @apply text-base font-bold;
  }
  i::before {
    @apply text-2xl;
  }
  &:disabled {
    @apply text-blueGrey-400;
    background: url('/assets/images/SHORTCUT_2.svg') no-repeat right bottom, var(--color-blueGrey-500);
  }
}

.bg-blue-gradient {
  background: url('/assets/images/SHORTCUT.svg') no-repeat right bottom,
    linear-gradient(90deg, #27b1ff 48.96%, #315d93 89.95%);
  background: url('/assets/images/SHORTCUT.svg') no-repeat right bottom,
    -moz-linear-gradient(90deg, #27b1ff 48.96%, #315d93 89.95%);
  background: url('/assets/images/SHORTCUT.svg') no-repeat right bottom,
    -webkit-linear-gradient(0deg, #27b1ff 48.96%, #315d93 89.95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27B1FF",endColorstr="#315D93",GradientType=1);
  &:disabled {
    background-color: #64748b;
    border-color: #64748b;
  }
}

.bg-shortcut {
  @apply bg-[url('/assets/images/SHORTCUT.svg')] bg-right-bottom bg-no-repeat;
  &.shortcut2 {
    @apply bg-[url('/assets/images/SHORTCUT_2.svg')];
  }
}

.learning-goal-item {
  @apply flex h-[100px] items-center rounded-2xl bg-white shadow-1 md:shadow-3 px-4 py-2 gap-4 cursor-pointer;
  img {
    @apply h-20 w-20 rounded-2xl;
  }
}

.katex .katex-mathml msub > mo {
  line-height: 0;
}
