<div class="flex justify-center">
  <div class="flex flex-col items-center justify-center h-full gap-10 p-10 w-full max-w-[600px]">
    <h1 class="">Giải toán trên ảnh</h1>
    <div class="flex flex-col gap-2 w-full">
      <label for="">Yêu cầu:</label>
      <textarea
        class="w-full"
        rows="3"
        placeholder="Nội dung..."
        name="text"
        (keydown.control.enter)="onCtrlEnter()"
        (keydown.enter)="onEnter()"
        [(ngModel)]="prompt"
      ></textarea>
    </div>
    <div class="w-full">
      <input type="file" (change)="onFileSelected($event)" accept="image/*" placeholder="Chọn ảnh" />
    </div>
    @if(image64!==''){
    <!-- <div
      class="aspect-square w-full bg-contain bg-no-repeat bg-center"
      [style]="{ 'background-image': 'url(' + image64 + ')' }"
    ></div> -->
    <img [src]="image64" alt="" class="w-full" />
    }
    <div class="flex space-between w-full justify-center">
      <button class="btn orange" (click)="ask()" [disabled]="isThinking">
        {{ isThinking ? 'Đang giải...' : 'Giải' }}
      </button>
    </div>
    <kyonsvn-latex class="w-full" [inputString]="result" />
  </div>
</div>
