<div class="flex justify-center p-10">
  <div class="flex flex-col gap-6 w-full max-w-[700px]">
    <h1 class="">Button Style</h1>
    <div class="grid grid-cols-3 gap-4 items-center justify-items-center">
      <button class="btn orange large">
        <i class="icon-ChevronLeft"></i><span>Large</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange">
        <i class="icon-ChevronLeft"></i><span>Medium</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange small">
        <i class="icon-ChevronLeft"></i><span>Small</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn lightBlue large">
        <i class="icon-ChevronLeft"></i><span>Large</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn lightBlue">
        <i class="icon-ChevronLeft"></i><span>Medium</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn lightBlue small">
        <i class="icon-ChevronLeft"></i><span>Small</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange large" disabled>
        <i class="icon-ChevronLeft"></i><span>Large</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange" disabled>
        <i class="icon-ChevronLeft"></i><span>Medium</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange small" disabled>
        <i class="icon-ChevronLeft"></i><span>Small</span><i class="icon-ChevronRight"></i>
      </button>
    </div>
    <div class="grid grid-cols-3 gap-4 items-center justify-items-center">
      <button class="btn orange outlined large">
        <i class="icon-ChevronLeft"></i><span>Large</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange outlined">
        <i class="icon-ChevronLeft"></i><span>Medium</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange outlined small">
        <i class="icon-ChevronLeft"></i><span>Small</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn lightBlue outlined large">
        <i class="icon-ChevronLeft"></i><span>Large</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn lightBlue outlined">
        <i class="icon-ChevronLeft"></i><span>Medium</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn lightBlue outlined small">
        <i class="icon-ChevronLeft"></i><span>Small</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange outlined large" disabled>
        <i class="icon-ChevronLeft"></i><span>Large</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange outlined" disabled>
        <i class="icon-ChevronLeft"></i><span>Medium</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange outlined small" disabled>
        <i class="icon-ChevronLeft"></i><span>Small</span><i class="icon-ChevronRight"></i>
      </button>
    </div>
    <div class="grid grid-cols-3 gap-4 items-center justify-items-center">
      <button class="btn orange link large">
        <i class="icon-ChevronLeft"></i><span>Large</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange link">
        <i class="icon-ChevronLeft"></i><span>Medium</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange link small">
        <i class="icon-ChevronLeft"></i><span>Small</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn lightBlue link large">
        <i class="icon-ChevronLeft"></i><span>Large</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn lightBlue link">
        <i class="icon-ChevronLeft"></i><span>Medium</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn lightBlue link small">
        <i class="icon-ChevronLeft"></i><span>Small</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange link large" disabled>
        <i class="icon-ChevronLeft"></i><span>Large</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange link" disabled>
        <i class="icon-ChevronLeft"></i><span>Medium</span><i class="icon-ChevronRight"></i>
      </button>
      <button class="btn orange link small" disabled>
        <i class="icon-ChevronLeft"></i><span>Small</span><i class="icon-ChevronRight"></i>
      </button>
    </div>
    <h1 class="">Icon Button Style</h1>
    <div class="grid grid-cols-3 gap-4 items-center justify-items-center">
      <button class="btn-icon orange large">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange small">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange large" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange small" disabled>
        <i class="icon-CallTutor"></i>
      </button>
    </div>
    <div class="grid grid-cols-3 gap-4 items-center justify-items-center">
      <button class="btn-icon orange outlined large">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange outlined">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange outlined small">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange outlined large" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange outlined" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange outlined small" disabled>
        <i class="icon-CallTutor"></i>
      </button>
    </div>
    <div class="grid grid-cols-3 gap-4 items-center justify-items-center">
      <button class="btn-icon blueGrey outlined large">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon blueGrey outlined">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon blueGrey outlined small">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon blueGrey outlined large" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon blueGrey outlined" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon blueGrey outlined small" disabled>
        <i class="icon-CallTutor"></i>
      </button>
    </div>
    <div class="grid grid-cols-3 gap-4 items-center justify-items-center">
      <button class="btn-icon lightBlue large">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue small">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue large" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue small" disabled>
        <i class="icon-CallTutor"></i>
      </button>
    </div>
    <div class="grid grid-cols-3 gap-4 items-center justify-items-center">
      <button class="btn-icon orange circle large">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange circle">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon orange circle small">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue circle large">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue circle">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue circle small">
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue circle large" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue circle" disabled>
        <i class="icon-CallTutor"></i>
      </button>
      <button class="btn-icon lightBlue circle small" disabled>
        <i class="icon-CallTutor"></i>
      </button>
    </div>
  </div>
</div>
