<div class="w-full h-screen bg-blueGrey-100 flex justify-center">
  <div class="w-full max-w-[1122px] col gap-4 p-6">
    <div class="col gap-2">
      <h4>Bài tập {{ title }}</h4>
    </div>
    <kyonsvn-questions-progress class="w-full" [progress]="testProgress"></kyonsvn-questions-progress>
    <div class="col rounded-lg bg-white p-4 overflow-y-auto md:flex-1 max-h-[calc(100vh_-_200px)] md:max-h-fit">
      <kyonsvn-test-content
        [content]="testContent"
        [submission]="testSubmission"
        (progressEvent)="updateProgress($event)"
        (submissionEvent)="updateSubmission($event)"
        [currentIndex]="currentTestIndex"
        (currentIndexEvent)="currentTestIndex = $event"
        [isActive]="true"
        (completeCallback)="testComplete()"
        [showResult]="showResult"
        (showResultEvent)="showResult = $event"
        class="flex md:flex-1"
      ></kyonsvn-test-content>
      <div class="justify-between hidden md:flex">
        <div class="hidden md:flex flex-1 flex-col">
          <strong class="uppercase">Phím tắt:</strong>
          <span>Bấm 1,2,3,4 chọn đáp án, bấm space sẽ làm tiếp hoặc nộp bài</span>
        </div>
        <div class="flex gap-2 items-center">
          <button
            id="continue"
            *ngIf="testProgress.isComplete() && showResult"
            (click)="showWaitlistPopup = true"
            class="btn"
          >
            Tiếp
          </button>
          <button
            (click)="handleNextQuestion()"
            [disabled]="testProgress.value < currentTestIndex + 1"
            class="btn"
            *ngIf="!(testProgress.isComplete() && showResult)"
          >
            {{ showResult ? 'Tiếp' : 'Trả lời' }}
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="ads-md">
      <span class="text-white">Muốn luyện tập với vô hạn câu hỏi được tạo ra bởi Trí tuệ nhân tạo (AI)?</span>
      <button class="btn btn-large" (click)="showWaitlistPopup = true">Đăng ký Danh sách chờ của Kyons!</button>
    </div> -->
    <div class="ads">
      <span class="text-white">Muốn luyện tập với vô hạn câu hỏi được tạo ra bởi Trí tuệ nhân tạo (AI)?</span>
      <button class="btn btn-large w-full md:w-auto" (click)="showWaitlistPopup = true">
        Đăng ký Danh sách chờ của Kyons!
      </button>
    </div>
    <div class="md:hidden w-full flex items-center justify-between gap-2 mb-20">
      <img class="w-[155px]" src="/assets/images/logo-h.svg" alt="Logo" />
      <div class="flex gap-2 items-center justify-center">
        <!-- <a
          class="btn-outlined btn-icon order-1 md:order-1"
          href="https://forms.gle/b36mTdMWNRY1qkZh7"
          target="_blank"
          #tooltip="matTooltip"
          matTooltip="Nội dung “có vấn đề”? Thông báo cho Kyons liền tay!"
          matTooltipPosition="above"
          matTooltipHideDelay="5000"
          matTooltipClass="above"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container"
          ><i class="icon-Error"></i
        ></a> -->
        <button
          *ngIf="testProgress.isComplete() && showResult"
          (click)="showWaitlistPopup = true"
          class="btn btn-icon order-2 md:order-3"
        >
          <i class="icon-Submit"></i>
        </button>
        <button
          (click)="handleNextQuestion()"
          [disabled]="testProgress.value < currentTestIndex + 1"
          class="btn btn-icon order-2 md:order-3"
          *ngIf="!(testProgress.isComplete() && showResult)"
        >
          <i class="icon-ChevronRight"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="showWaitlistPopup"
    class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-start p-4 bg-black bg-opacity-80"
  >
    <div class="col p-4 gap-4 rounded-lg bg-white max-w-[700px]">
      <img src="/assets/rule-full.jpg" alt="Banner" />
      <div class="col gap-2">
        <h4>Oh no...</h4>
        <p>
          Mỗi flashcard hiện tại chỉ có 2 câu bài tập thôi à 😢. Nhưng sau khi Kyons ra mắt thì mỗi flashcard sẽ mang
          tới vô hạn bài tập thích ứng riêng cho bạn đó! Tham gia ngay “Danh sách chờ” để được thông báo sớm nhất nha!
        </p>
        <p><em>Bí mật nè: tham gia danh sách chờ được nhận quà đó!</em></p>
      </div>
      <div class="col gap-2">
        <a id="register" [routerLink]="['/waitlist']" class="btn btn-large w-full">Tới luôn nha</a>
        <button class="btn btn-outlined btn-large w-full" (click)="showWaitlistPopup = false">Đóng</button>
      </div>
    </div>
  </div>
</div>
