#fileTable {
  @apply w-full h-full rounded-xl min-w-[800px];
}
.table-responsive {
  display: flex;
  width: 100%;
  height: calc(100vh - 356px);
  overflow-x: auto;
  position: relative;
  border-radius: 10px;
}
