<div>
  <div class="bg-[#F1F8FD]">
    <section class="home">
      <img class="md:hidden" src="/assets/logo-horizontal.svg" alt="Logo" />
      <div class="hidden md:flex w-full justify-between items-start">
        <img class="w-[184px]" src="/assets/logo-horizontal.svg" alt="Logo" />
        <div class="flex gap-2 items-start">
          <button class="btn btn-rounded w-full login-open">Đã vào Danh sách? Xem thứ hạng</button>
          <button class="btn w-full">Đăng ký tham gia</button>
        </div>
      </div>
      <h4 class="text-white mt-6 w-10/12 md:hidden">
        Tham gia <span class="text-lightOrange-3">"Danh sách chờ"</span> để cùng bay vào ngân hà tri thức và nhận các
        phần quà hấp dẫn
      </h4>
      <span class="hidden md:block text-white !max-w-[600px] mt-24 text-4xl font-bold leading-[140%]"
        >Tham gia <span class="text-lightOrange-3">"Danh sách chờ"</span> để cùng bay vào ngân hà tri thức và nhận các
        phần quà hấp dẫn</span
      >
      <button class="btn mt-4 w-full md:!max-w-[400px] md:mt-11">Đăng ký tham gia</button>
      <button class="btn btn-rounded mt-4 w-full md:hidden login-open">Đã vào Danh sách? Xem thứ hạng</button>
      <button class="btn !bg-lightBlue-2 !border-lightBlue-2 mt-4 w-full md:!max-w-[400px]">
        Xem thể lệ và thông tin quà tặng
      </button>
    </section>
    <section class="who">
      <div class="flex flex-col gap-6 mt-28 md:mt-32 max-w-[315px] md:max-w-[680px]">
        <h4 class="md:hidden">Kyons là ai?</h4>
        <h1 class="hidden md:block">Kyons là ai?</h1>
        <p>
          Kyons™ là nền tảng học tập ứng dụng trí tuệ nhân tạo (AI) giúp bạn tập trung học những kiến thức mình chưa
          vững để đạt được kết quả cao nhất trong thời gian ngắn nhất!
        </p>
      </div>
      <div class="mt-36 flex flex-col items-stretch text-center justify-center gap-7 md:gap-14">
        <h6 class="md:hidden">Vì sao nên sử dụng Kyons?</h6>
        <h1 class="hidden md:block">Vì sao nên sử dụng Kyons?</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-6">
          <div class="card-wrapper">
            <img src="/assets/why-1.jpg" alt="Thi thử với AI" />
            <div class="card-text">
              <p>
                <strong class="text-orange">Thi thử với AI</strong>, định lượng kiến thức<br />một cách thông minh, giúp
                thiết kế lộ trình học nhanh chóng nhưng vô cùng hiệu quả
              </p>
            </div>
          </div>
          <div class="card-wrapper">
            <img src="/assets/why-2.jpg" alt="Vô hạn bài tập" />
            <div class="card-text">
              <p>
                <strong class="text-orange">Vô hạn bài tập</strong> để ôn luyện do AI thiết kế,<br />đảm bảo không bị
                trùng và nhàm chán
              </p>
            </div>
          </div>
          <div class="card-wrapper">
            <img src="/assets/why-3.jpg" alt="Ôn đúng chỗ “lủng”" />
            <div class="card-text">
              <p>
                <strong class="text-orange">Ôn đúng chỗ “lủng”</strong>, cải thiện điểm số<br />trong thời gian ngắn
                nhất
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="h-28"></div>
    </section>
    <section class="contact">
      <div class="flex flex-col gap-6 items-stretch justify-center text-center">
        <h5 class="text-white leading-8 font-bold">
          Nếu bạn có thắc mắc khác cần nhắn Kyons, hãy gửi về hộp thư
          <a href="mailto:contact@kyons.vn">contact@kyons.vn</a>. Kyons sẽ phản hồi trong thời gian sớm nhất!
        </h5>
      </div>
    </section>
  </div>
  <div class="modal">
    <div class="col gap-4">
      <img src="/assets/rule-full.jpg" alt="Khám phá ngân hà tri thức nhận muôn vàn quà hay" class="rounded-lg" />
      <h4>Hoạt động “Danh sách chờ” của Kyons đã kết thúc</h4>
      <div class="">
        <p>
          Thật tiếc quá, hoạt động “Danh sách chờ” của chúng mình đã chính thức khép lại vào ngày 15/05. Hiện tại, Kyons
          đang tích cực tổng hợp lại kết quả và sẽ công bố cho bạn trong thời gian sớm nhất! Xin chân thành cảm ơn sự
          quan tâm và tham gia tích cực của bạn.
        </p>
        <p>
          Nếu bạn có bất kì câu hỏi hoặc muốn cập nhật thông tin mới nhất của Kyons, hãy theo dõi fanpage của chúng mình
          nhé: <a href="https://www.facebook.com/KyonsVN" target="_blank">https://www.facebook.com/KyonsVN</a>
        </p>
      </div>
    </div>
  </div>

  <footer>
    <section>
      <div class="flex flex-col w-full items-stretch">
        <table class="w-full text-start align-top">
          <tbody>
            <tr>
              <td class="align-top w-5"><i class="icon-Location mr-2"></i></td>
              <td>
                <div class="flex items-stretch">
                  <div class="flex-1">
                    <strong>Công ty TNHH Kyons</strong><br />L17-11, Vincom Center, 72 Lê Thánh Tôn, Phường Bến Nghé,
                    Quận 1, TP.HCM
                  </div>
                  <div class="gap-2 hidden md:flex">
                    <a href="https://www.linkedin.com/company/kyons/" target="_blank"
                      ><img src="/assets/icons-linkedin.svg" alt="LinkedIn Icon"
                    /></a>
                    <a
                      style="color: white !important; text-decoration: none !important"
                      href="https://www.facebook.com/KyonsVN"
                      target="_blank"
                      ><i class="icon-Facebook-icon"></i
                    ></a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="h-2"></td>
            </tr>
            <tr>
              <td class="align-top"><i class="icon-Phone"></i></td>
              <td>(028) 6270 6820</td>
            </tr>
            <tr class="md:hidden">
              <td class="h-6"></td>
            </tr>
            <tr class="md:hidden">
              <td colspan="2">
                <div class="flex items-center gap-2">
                  <a href="https://www.linkedin.com/company/kyons/" target="_blank"
                    ><img src="/assets/icons-linkedin.svg" alt="LinkedIn Icon"
                  /></a>
                  <a
                    style="color: white !important; text-decoration: none !important"
                    href="https://www.facebook.com/KyonsVN"
                    target="_blank"
                    ><i class="icon-Facebook-icon"></i
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="!items-start !text-left">© Bản quyền trang web thuộc về công ty TNHH Kyons.</section>
  </footer>
</div>
