.home {
  @apply h-screen;
  background-image: url('/assets/bg-home-full.jpg');
  background-size: cover;
  background-position-x: 66.66%;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    background-image: url('/assets/bg-home-full.jpg');
    max-width: 100%;
    max-height: 100vh;
    & > * {
      max-width: 1200px;
    }
  }
}
.icon-Facebook-icon::before {
  display: block;
  font-size: 15px;
}
.who {
  background-image: url('/assets/bg-planet-1-xs.svg'), url('/assets/bg-planet-2-xs.svg');
  background-position-x: 100%, 0;
  background-position-y: 46px, 273px;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    max-width: 100%;
    max-height: unset;
    background-image: url('/assets/planet-1.svg'), url('/assets/planet-2.svg'), url('/assets/planet-3.svg'),
      url('/assets/planet-4.svg');
    background-position-x: 25%, 85%, 5%, 72%;
    background-position-y: 75px, 46px, 203px, 315px;
    background-repeat: no-repeat;
  }
}
.register {
  background-image: url('/assets/bg-register-xs.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.contact {
  @apply py-20 min-h-[250px];
  background-image: url('/assets/bg-contact-xs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  @media screen and (min-width: 768px) {
    background-image: url('/assets/bg-contact-full.jpg');
    max-width: 100%;
    & > * {
      max-width: 600px;
    }
    .light-border-box {
      max-width: 1000px;
    }
  }
}
footer {
  @apply text-blueGrey-100 bg-blueGrey-800;
}
.card-wrapper {
  @apply flex flex-col;
  img {
    @apply w-full rounded-lg;
  }
  .card-text {
    @apply rounded-lg p-6 flex flex-col justify-center gap-6 text-white bg-primaryBlue flex-1;
    background: #2c3d5b;
    background: -moz-linear-gradient(10deg, #2c3d5b 77%, #fb923c 100%);
    background: -webkit-linear-gradient(10deg, #2c3d5b 77%, #fb923c 100%);
    background: linear-gradient(10deg, #2c3d5b 77%, #fb923c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2C3D5B",endColorstr="#FB923C",GradientType=1);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
  }
}
.hi {
  @apply pt-5 break-words max-w-full;
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 127%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 3px #06a5ff;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 72px;
  }
}
.loged-in {
  background-image: url('/assets/bg-loged-in-top-xs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 366px;
  @media screen and (min-width: 768px) {
    max-width: 100%;
    height: 676px;
    background-image: url('/assets/bg-loged-in-top-full.jpg');
  }
}
.up-rank {
  @apply text-white overflow-hidden;
  background: #2c3d5b;
  background: -moz-linear-gradient(24.34deg, #2c3d5b 80.64%, #fb923c 106.05%);
  background: -webkit-linear-gradient(24.34deg, #2c3d5b 80.64%, #fb923c 106.05%);
  background: linear-gradient(24.34deg, #2c3d5b 80.64%, #fb923c 106.05%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2C3D5B",endColorstr="#FB923C",GradientType=1);
  @media screen and (min-width: 768px) {
    max-width: 100%;
  }
}
.bg-gradient {
  background: #65bbeb;
  background: -moz-linear-gradient(201.91deg, #65bbeb 9.33%, #872789 83.91%);
  background: -webkit-linear-gradient(201.91deg, #65bbeb 9.33%, #872789 83.91%);
  background: linear-gradient(201.91deg, #65bbeb 9.33%, #872789 83.91%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#65BBEB",endColorstr="#872789",GradientType=1);
}
