<div class="bg-[#F1F8FD]">
  <section class="home">
    <img src="/assets/logo-horizontal.svg" alt="Logo" />
    <h4 class="text-white mt-6 w-10/12">
      Tham gia <span class="text-lightOrange-3">"Danh sách chờ"</span> để cùng bay vào ngân hà tri thức và nhận các phần
      quà hấp dẫn
    </h4>
    <button class="btn mt-4 w-full">Đăng ký tham gia</button>
    <button class="btn !bg-lightBlue-2 !border-lightBlue-2 mt-4 w-full">Xem thể lệ và thông tin quà tặng</button>
  </section>
  <section class="who">
    <div class="mt-28 flex flex-col gap-6">
      <h4>Kyons là ai?</h4>
      <p>
        Kyons™ là nền tảng học tập ứng dụng trí tuệ<br />nhân tạo (AI) giúp bạn tập trung học những<br />kiến thức mình
        chưa vững để đạt được<br />kết quả cao nhất trong thời gian ngắn nhất!
      </p>
    </div>
    <div class="mt-36 flex flex-col items-stretch text-center justify-center gap-7">
      <h6>Vì sao nên sử dụng Kyons?</h6>
      <div class="card-wrapper">
        <img src="/assets/why-1.svg" alt="Thi thử với AI" />
        <div class="card-text">
          <p>
            <strong class="text-orange">Thi thử với AI</strong>, định lượng kiến thức<br />một cách thông minh, giúp
            thiết kế lộ trình học nhanh chóng nhưng vô cùng hiệu quả
          </p>
        </div>
      </div>
      <div class="card-wrapper">
        <img src="/assets/why-2.svg" alt="Vô hạn bài tập" />
        <div class="card-text">
          <p>
            <strong class="text-orange">Vô hạn bài tập</strong> để ôn luyện do AI thiết kế,<br />đảm bảo không bị trùng
            và nhàm chán
          </p>
        </div>
      </div>
      <div class="card-wrapper">
        <img src="/assets/why-3.svg" alt="Ôn đúng chỗ “lủng”" />
        <div class="card-text">
          <p>
            <strong class="text-orange">Ôn đúng chỗ “lủng”</strong>, cải thiện điểm số<br />trong thời gian ngắn nhất
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="register">
    <div class="flex flex-col gap-6 mt-20">
      <h6 class="text-white">
        Để lại thông tin để được cập nhật<br />những
        <span class="text-lightOrange-3">thông tin mới nhất</span> về<br />Kyons một cách
        <span class="text-lightOrange-3">nhanh nhất</span>
      </h6>
      <button class="btn">Đăng ký tham gia</button>
      <a href="">Xem thông tin chi tiết quà tặng</a>
    </div>
  </section> -->
  <section class="contact">
    <div class="flex flex-col gap-6 items-stretch justify-center text-center">
      <!-- <h5 class="text-orange">Liên hệ với chúng tôi</h5>
      <p class="text-white">Nếu bạn quan tâm đến Kyons, xin vui lòng để lại thông tin. Kyons sẽ liên hệ với bạn.</p>
      <div class="flex flex-col gap-4">
        <select name="" id="">
          <option value="" disabled>Bạn là *</option>
          <option value="A">A</option>
          <option value="B">B</option>
        </select>
        <input type="text" placeholder="Email *" />
        <input type="text" placeholder="Tên của bạn" />
        <input type="text" placeholder="Lời nhắn *" />
      </div>
      <button class="btn">Gửi tin nhắn</button> -->
      <h5 class="text-white leading-8 font-bold">
        Nếu bạn có thắc mắc khác cần nhắn Kyons, hãy gửi về hộp thư
        <a href="mailto:contact@kyons.vn">contact@kyons.vn</a>. Kyons sẽ phản hồi trong thời gian sớm nhất!
      </h5>
    </div>
  </section>
  <footer>
    <section>
      <div class="flex flex-col w-full items-stretch">
        <table class="w-full text-start align-top">
          <tbody>
            <tr>
              <td class="align-top"><i class="icon-Location mr-2"></i></td>
              <td>
                <strong>Công ty TNHH Kyons</strong><br />L17-11, Vincom Center, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận
                1, TP.HCM
              </td>
            </tr>
            <tr>
              <td class="align-top"><i class="icon-Phone"></i></td>
              <td>090.664.1611</td>
            </tr>
            <tr>
              <td class="h-6"></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="flex items-center gap-2">
                  <img src="/assets/icons-linkedin.svg" alt="Youtube Icon" />
                  <a
                    style="color: white !important; text-decoration: none !important"
                    href="https://www.facebook.com/groups/605349140894461"
                    ><i class="icon-Facebook-icon"></i
                  ></a>
                  <img src="/assets/icons-youtube.svg" alt="Youtube Icon" />
                  <img src="/assets/icons-zalo.svg" alt="Youtube Icon" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="!items-start">© Bản quyền trang web thuộc về công ty TNHH Kyons.</section>
  </footer>
</div>
