<div
  *ngIf="!testResult"
  class="rounded-lg sm:flex sm:flex-col p-0 md:p-11 md:grid md:grid-cols-2 relative"
>
  <student-questions-progress
    id="responsiveProgressBar"
    [ngStyle]="{ display: isTitleHidden ? 'block' : 'none' }"
    class="top-[-1px] md:top-11 absolute left bg-white h-11 left-6"
    [progress]="progress"
  ></student-questions-progress>
  <div
    class="flex flex-col bg-white items-start p-6 w-full justify-start rounded-lg gap-6"
    style="overflow: auto; height: calc(100vh - 9rem)"
    (scroll)="onScroll($event)"
  >
    <div class="flex flex-col gap-2">
      <h4>Bài khảo sát</h4>
      <h6>Chương trình Anh Văn chuẩn quốc gia</h6>
    </div>
    <student-questions-progress
      class="w-full"
      [progress]="progress"
    ></student-questions-progress>
    <student-test-content
      [content]="testContent"
      [submission]="submission"
      (progressEvent)="updateProgress($event)"
      (submissionEvent)="updateSubmission($event)"
    ></student-test-content>
    <!-- End Questions -->
  </div>
  <div class="flex flex-col w-full sm:h-auto md:h-full">
    <div class="bg-image flex-1"></div>
    <div class="flex w-full items-center p-6">
      <!-- <a class="cursor-pointer" (click)="skipTest()">Chọn con đường học mẫu</a> -->
      <span class="flex-1"></span>
      <button
        (click)="testComplete()"
        class="btn primary w-48"
        [disabled]="progress < 100 && isTest === false"
      >
        Nộp bài
      </button>
    </div>
  </div>
  <!-- <pre *ngIf="isTest">{{ this.submission.submitData | json }}</pre> -->
</div>
<div
  *ngIf="testResult"
  class="sm:flex sm:flex-col p-0 md:p-11 md:grid md:grid-cols-2 relative gap-6"
>
  <div class="flex flex-col gap-6" style="height: calc(100vh - 7rem)">
    <h1>Bạn đã hoàn thành bài kiểm tra</h1>
    <h6 class="text-secondaryBlue" *ngIf="userType !== 'self_study'">
      Kyons đang chuẩn bị giáo trình cho bạn. Xin vui lòng đợi.
    </h6>
    <h6 class="text-secondaryBlue" *ngIf="userType === 'self_study'">
      Đây là kết quả bài kiểm tra của bạn. Bạn có thể chọn bài học tiếp theo dựa
      trên bài khảo sát này.
    </h6>
    <div class="flex flex-col rounded-lg p-6 bg-white">
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-6"></div>
        <div class="flex gap-14">
          <div class="flex flex-col">
            <div class="h8">Điểm của bạn</div>
            <div class="w-120px h-120px">
              <circle-progress
                [percent]="
                  (testResult.result.score * 100) /
                  testResult.result.maxScore['total']
                "
                [title]="testResult.score.toString()"
                subtitle="10"
              ></circle-progress>
            </div>
          </div>
          <div class="flex flex-col flex-1 gap-1">
            <div class="h8">Tổng quan kiến thức</div>
            <div
              class="flex flex-col"
              *ngFor="let cat of this.resultRenderObject; let lCIndex = index"
            >
              <div class="flex">
                <span>{{ cat.name }}</span>
                <span class="flex-1"></span>
                <span>{{ cat.score }}%</span>
              </div>
              <hr class="mt-1" />
            </div>
          </div>
        </div>
        <div class="flex-1"></div>
        <div class="self-end flex gap-2">
          <a
            *ngIf="userType !== 'self_study'"
            class="btn primary w-48"
            [routerLink]="paths.learningPath"
            >Đến giáo trình</a
          >
          <a
            *ngIf="userType === 'self_study'"
            class="btn btn-rounded"
            [routerLink]="paths.learningPath"
            >Chọn bài học sau</a
          >
          <a
            *ngIf="userType === 'self_study'"
            class="btn primary w-48"
            [routerLink]="paths.newLesson"
            >Tạo bài học</a
          >
        </div>
      </div>
    </div>
    <div class="flex flex-1 overflow-auto flex-col rounded-lg p-6 bg-white">
      <student-test-review
        [reviewRenderObject]="reviewRenderObject"
      ></student-test-review>
    </div>
  </div>
  <div class="bg-waiting"></div>
</div>
