<div class="w-full h-screen overflow-hidden bg-img flex flex-col justify-between md:justify-start md:flex-row">
  <div class="w-full md:w-[40%] relative">
    <div
      class="w-full p-10 md:p-0 md:absolute md:w-[434px] md:top-[100px] md:left-[60px] lg:top-[200px] lg:left-[159px]"
    >
      <div class="col text-white">
        <h4 class="hidden md:block">Chúc mừng bạn, 1 lượt test nhân phẩm đã được thêm vào giỏ hàng</h4>
        <h6 class="md:hidden">Chúc mừng bạn, 1 lượt test nhân phẩm đã được thêm vào giỏ hàng</h6>
        <span class="mt-4"
          >Có gì đâu mà xịt keo mất 5 giây vậy. Bạn không nhìn lầm đâu, bạn đã nhận được 1 lượt tham gia vòng quay may
          mắn để có cơ hội nhận quà keo lỳ từ Kyons đó!</span
        >
        <button (click)="showGifts = true" class="btn !bg-lightBlue-1 !border-lightBlue-1 mt-6">
          Danh sách quà tặng
        </button>
      </div>
    </div>
  </div>
  <div class="bg-wheel w-full h-full max-w-[809px] flex justify-center items-end">
    <div class="relative aspect-square w-[100%] md:w-[83%] flex items-center justify-center mb-[13%] md:mb-[7%]">
      <canvas class="absolute w-full z-0" #canvas width="500" height="500"></canvas>
      <img #spinBG src="/assets/images/Spin.svg" alt="" width="544" height="585" class="absolute w-[80%]" />
      <img src="/assets/images/tip.svg" width="40" alt="" class="absolute top-[5%]" />
      <div
        (click)="spinStart()"
        class="bg-orange-gradient rounded-full w-[25%] aspect-square text-white flex items-center justify-center text-3xl relative z-10 shadow-3"
        [ngClass]="{ 'cursor-pointer': spinTime === 0 }"
      >
        <span *ngIf="spinTime === 0">QUAY</span>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="showGifts"
  class="fixed w-full h-screen overflow-hidden top-0 left-0 bg-black bg-opacity-50 z-20 flex items-center justify-center"
>
  <div class="col rounded-2xl bg-white gap-6 p-6 w-full md:w-[400px] items-stretch justify-center">
    <h4 class="hidden md:block">Danh sách quà tặng</h4>
    <h6 class="md:hidden">Danh sách quà tặng</h6>
    <span>Trong trường hợp nhân phẩm tốt, bạn sẽ nhận được 1 trong số các phần quà hấp dẫn sau:</span>
    <ul class="list-disc pl-6">
      <li>Học bổng của Kyons trị giá 1.000.000 đồng</li>
      <li>Voucher in 20 ảnh BOFT trị giá 300.000 đồng</li>
      <li>Một cặp Sleeping mask độc quyền từ Kyons trị giá 180.000 đồng</li>
      <li>Sổ tay SEESAW trị giá 90.000 đồng trị giá 90.000 đồng</li>
      <li>Voucher Gongcha trị giá 50.000 đồng</li>
    </ul>
    <button (click)="showGifts = false" class="btn orange">Đóng</button>
  </div>
</div>
<div
  *ngIf="showResult"
  class="fixed w-full h-screen overflow-hidden top-0 left-0 bg-black bg-opacity-50 z-20 flex items-center justify-center"
>
  <div class="col rounded-2xl bg-white gap-6 p-6 w-full md:w-[700px] items-center">
    <div *ngIf="promotion; else noPromo" class="col items-center">
      <div *ngIf="promotion.isWon; else loseTemplate" class="col w-full gap-6 justify-center items-stretch">
        <img
          *ngIf="promotion.gifts[0].name === 'Học bổng của Kyons trị giá 1.000.000 đồng'"
          class="w-[240px] self-center"
          src="/assets/images/scholarship.svg"
          alt=""
        />
        <img
          *ngIf="promotion.gifts[0].name !== 'Học bổng của Kyons trị giá 1.000.000 đồng'"
          class="w-[90px] self-center"
          src="/assets/images/Gifting.svg"
          alt=""
        />
        <h4 class="hidden md:block w-full text-center">
          Xin chúc mừng, xốp đã nhận được <b class="text-orange">{{ promotion.gifts[0].name }}</b>
        </h4>
        <h5 class="md:hidden w-full text-center">
          Xin chúc mừng, xốp đã nhận được <b class="text-orange">{{ promotion.gifts[0].name }}</b>
        </h5>
        <div class="col">
          <span
            >Mau mau chụp màn hình lại gửi nhóm bạn thân, lần này gửi thêm cho
            <a href="https://www.facebook.com/KyonsVN" target="_blank">Facebook Kyons</a> để được hướng dẫn cách thức
            nhận quà bạn nha!</span
          >
          <span
            >Mã nhận quà của bạn là: <b class="text-lightBlue-1">{{ this.promotion.claimCode }}</b></span
          >
          <span
            >À đừng quên, <b>toàn bộ quà tặng</b> cùng học bổng <b>2 triệu đồng</b> sẽ thuộc về người có số lần làm “Bài
            kiểm tra thử thông minh” nhiều nhất (tính đến 30/06). Mau quay trở lại lộ trình và tiếp tục ôn tập đi bạn
            ơi!</span
          >
        </div>
        <button [routerLink]="continue" class="btn orange w-full">Ok nha</button>
        <div class=""></div>
      </div>
      <ng-template #loseTemplate>
        <div class="col w-full gap-6 justify-center items-stretch">
          <img class="w-[240px] self-center" src="/assets/images/Sorry.svg" alt="" />
          <h4 class="hidden md:block">Chúng ta không nên buồn và không có gì phải buồn...</h4>
          <h5 class="md:hidden">Chúng ta không nên buồn và không có gì phải buồn...</h5>
          <span>Buồn thì buồn một chút xíu thôi. Xem như nhân phẩm để dành cho kì thi sắp tới bạn nha!</span>
          <span
            >À đừng quên, <b>toàn bộ quà tặng</b> cùng học bổng <b>2 triệu đồng</b> sẽ thuộc về người có số lần làm Bài
            Kiểm Tra Thử Thông Minh nhiều nhất (tính đến 30/06). Mau quay trở lại lộ trình và tiếp tục ôn tập đi bạn
            ơi!</span
          >
          <button [routerLink]="continue" class="btn orange w-full">Ok nha</button>
          <div class=""></div>
        </div>
      </ng-template>
    </div>
    <ng-template #noPromo>
      <div class="col w-full gap-6 justify-center items-stretch">
        <h4 class="hidden md:block w-full text-center">Đã nhận quà</h4>
        <h5 class="md:hidden w-full text-center">Đã nhận quà</h5>
        <span class="">
          Xốp đã lấy quà rồi, vào email kiểm tra lại nha. Nếu vẫn không thấy hãy liên hệ
          <a href="https://www.facebook.com/KyonsVN" target="_blank">Facebook Kyons</a> ngay để được hỗ trợ nhé
        </span>
        <button [routerLink]="continue" class="btn orange w-full">Ok nha</button>
      </div>
    </ng-template>
  </div>
</div>
