.bg-orange-gradient {
  background: linear-gradient(34.28deg, #fb7200 36.1%, #fb923c 86.71%);
}
.bg-img {
  @apply bg-cover bg-center bg-no-repeat;
  @media screen and (min-width: 768px) {
    background-image: url('/assets/images/minigame-bg.webp');
  }
  @media screen and (max-width: 767px) {
    background-image: url('/assets/images/minigame-bg-xs.webp');
  }
}
.bg-wheel {
  @apply bg-contain bg-bottom bg-no-repeat;
  // @media screen and (min-width: 768px) {
  background-image: url('/assets/images/wheel.svg');
  // }
  @media screen and (max-width: 767px) {
    background-size: 130%;
  }
}
