<div *ngIf="content">
  <div class="mt-2">
    <div
      *ngFor="let question of content.questions; let qi = index"
      class="mb-4"
    >
      <p class="h7">
        {{ qi + 1 }}. <span [innerHTML]="question.content"></span>
      </p>
      <div class="mt-2 flex flex-col gap-1">
        <student-input-radio
          [style.display]="ai > 3 ? 'none' : 'block'"
          *ngFor="
            let answer of question.answers | orderBy: 'order';
            let ai = index
          "
          (change)="
            updateProgress(getNextProgress(qi));
            updateSubmitData(question.id, answer.id)
          "
          [value]="answer.id"
          [label]="answerPrefixes[ai] + answer.content"
          [name]="'q-' + question.id + '-' + conponentId"
        ></student-input-radio>
      </div>
    </div>
  </div>
</div>
