<div class="flex flex-col w-full h-full items-center justify-start p-6 md:p-11">
  <div class="flex flex-col w-full md:w-1/2 gap-6 items-center">
    <img src="assets/images/The personalized road.svg" class="w-[150px] h-[150px]" />
    <div class="flex flex-col bg-white rounded-lg p-6 gap-6">
      <h4>Sẽ ra sao nếu đây là bài kiểm tra thật?</h4>
      <div class="">
        <p>Chắc chắn bạn sẽ không thể Undo hay ctrl+Z làm lại được rồi.</p>
        <p>
          Nhưng với Kyons, bạn có thể học và làm lại bài đến khi không mắc lỗi đó ở bài thi thật nữa! Bài học ngắn gọn,
          bài tập chọn lọc và một lộ trình học được Kyons thiết kế dựa trên mục tiêu học tập của riêng bạn đang chờ ở
          phía trước.
        </p>
        <p>Còn chần chừ gì mà chưa học cùng Kyons nào!</p>
      </div>
      <div class="flex flex-col gap-2">
        <button class="btn" (click)="getFreeTrial()">Học thử 7 ngày hoàn toàn miễn phí</button>
        <button class="btn" [routerLink]="paths.package.path">Mua gói học tập ưu đãi giới hạn</button>
        <!-- <a class="btn-rounded" [routerLink]="paths.home.path">Quay về trang chủ</a> -->
      </div>
    </div>
  </div>
</div>
