<div class="flex flex-col min-h-full">
  <div class="flex flex-col gap-6 py-6 px-11">
    <h2>Bài kiểm tra</h2>
  </div>
  <div class="flex px-11 gap-6">
    <div
      class="card bg-white w-1/4 items-start justify-start gap-4 overflow-auto"
      style="height: calc(100vh - 12rem)"
    >
      <span class="font-bold">Câu 1</span>
      <span class="text-blueGrey-400">Câu 2</span>
      <span class="text-blueGrey-400">Câu 3</span>
      <span class="text-blueGrey-400">Câu 4</span>
      <span class="text-blueGrey-400">Câu 5</span>
    </div>
    <div
      class="card bg-white w-1/4 items-start justify-start gap-4 overflow-auto"
      style="height: calc(100vh - 12rem)"
    ></div>
    <div
      class="card bg-white w-1/2 items-stretch justify-start overflow-auto"
      style="height: calc(100vh - 12rem)"
    ></div>
  </div>
</div>
