/* You can add global styles to this file, and also import other style files */
section {
  @apply p-6 flex flex-col justify-start items-center text-center md:max-w-[1200px] md:mx-auto;
}
a {
  @apply text-lightOrange-3 #{!important};
}
[class^='icon-'],
[class*=' icon-'] {
  line-height: 0.9;
}
.btn,
input[type='text'],
input[type='password'],
input[type='number'] {
  height: 40px;
}
.jura {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
}
.modal {
  @apply fixed top-0 w-full h-screen flex flex-col justify-center items-center p-6 bg-black bg-opacity-80 z-10;
  & > div,
  & > form {
    @apply bg-white rounded-lg p-4 w-full flex flex-col max-h-[calc(100vh_-_8rem)] overflow-y-auto md:max-w-[700px];
  }
}
input.ng-invalid {
  @apply border-blueGrey-400;
  &.ng-touched {
    @apply border-red-0;
  }
}
.shadow-4 {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
}
.light-border-box {
  @apply rounded-lg border-l-10 border-r-10 border-lightBlue-3 shadow-4;
  & > div {
    @apply bg-white w-full px-4 py-8 flex flex-col items-center;
  }
  @media screen and (min-width: 768px) {
    @apply max-w-[1000px] mx-auto;
  }
}
.error {
  font-size: 12px;
  line-height: 150%;
  color: #ff5959;
}
input::placeholder {
  @apply text-blueGrey-400;
}
.modal-open {
  @apply overflow-auto md:overflow-hidden;
}
body {
  @apply text-base;
}
