<form class="ask" novalidate>
  @if(!isGaming){
  <textarea
    rows="1"
    placeholder="Trò chuyện..."
    [(ngModel)]="text"
    name="text"
    [disabled]="isThinking"
    (keydown.control.enter)="onCtrlEnter()"
    (keydown.enter)="onEnter()"
    #askInput
  ></textarea
  >} @else {
  <div class="control">
    <button type="button" class="btn btn-rounded" (click)="exit()">Thoát trò chơi</button>
  </div>
  }
  <button type="button" class="send" (click)="ask()" [disabled]="isThinking">
    @if(isThinking){<ng-lottie [options]="options" width="60px" height="60px"></ng-lottie>} @else{<i
      class="icon-Send"
    ></i
    >}
  </button>
</form>
