<form class="ask" novalidate>
  @if(!isGaming){
  <textarea
    rows="1"
    placeholder="Trò chuyện..."
    [(ngModel)]="text"
    name="text"
    [disabled]="isThinking"
    (keydown.control.enter)="onCtrlEnter()"
    (keydown.enter)="onEnter()"
    #askInput
  ></textarea
  >} @else {
  <div class="control">
    <button type="button" class="btn orange outlined" (click)="exit()">Thoát trò chơi</button>
  </div>
  } @if(image && image.base64!==''){
  <!-- <div
      class="aspect-square w-full bg-contain bg-no-repeat bg-center"
      [style]="{ 'background-image': 'url(' + image64 + ')' }"
    ></div> -->
  <div class="flex justify-center">
    <img [src]="image.base64" alt="" class="max-w-[200px] max-h-[100px] flex-shrink-0" />
    <button class="btn-icon link" (click)="onDeleteFile()"><i class="icon-Delete"></i></button>
  </div>
  }
  <div class="w-full flex justify-end">
    <input
      #file
      hidden
      type="file"
      (change)="onFileSelected($event)"
      accept="image/*"
      placeholder="Chọn ảnh"
      accept="image/*"
    />
    <button class="btn-icon link small" (click)="file.click()" [disabled]="isThinking">
      <i class="icon-AddPhoto"></i>
    </button>
    <button class="btn-icon link small" (click)="ask()" [disabled]="isThinking">
      @if(isThinking){<ng-lottie [options]="options" width="60px" height="60px"></ng-lottie>} @else{<i
        class="icon-Send"
      ></i
      >}
    </button>
  </div>
</form>
