<div class="flex flex-col md:flex-row h-full">
  <div class="flex flex-col w-full h-full items-center justify-center bg-primaryBlue">
    <div class="flex flex-col w-full sm:w-[434px] p-4">
      <img src="./assets/images/logo-v.svg" alt="Logo" class="h-24" />
      <div class="h-12"></div>
      <form *ngIf="step === 0" class="flex flex-col" [formGroup]="emailForm" autocomplete="off">
        <p class="text-white">Enter your email to receive the password change code.</p>
        <div class="h-6"></div>
        <input
          [ngClass]="{ '!text-orange border-orange': email.invalid || emailNotFound }"
          type="text"
          #emailElm
          placeholder="Enter email"
          formControlName="email"
          autocomplete="off"
        />
        <div class="h-1"></div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
          <div *ngIf="email.errors?.['required']">Email is empty.</div>
          <div *ngIf="email.errors?.['email']">Please use email with format abc&#64;email.com.</div>
        </div>
        <div *ngIf="emailNotFound && (email.dirty || email.touched)" class="error">
          <div>No email matching accounts found.</div>
        </div>
        <div class="error mt-1" *ngIf="errorMessage">Inaccurate information</div>
        <div class="h-4"></div>
        <button (click)="sendEmail()" class="btn" [disabled]="(emailForm.touched && emailForm.invalid) || processing">
          {{ processing ? 'Processing' : 'Send me the code' }}
        </button>
      </form>
      <form *ngIf="step === 1" class="flex flex-col" [formGroup]="resetForm" autocomplete="off">
        <div class="h-12"></div>
        <p class="text-white">
          The code has been sent to your email. Please check your email and enter the code in the box below.
        </p>
        <div class="h-6"></div>
        <input
          [ngClass]="{ '!text-orange': wrongCode || (code.invalid && (code.dirty || code.touched)) }"
          type="text"
          #codeElm
          placeholder="Enter the code"
          formControlName="code"
          autocomplete="new-code"
        />
        <div class="h-1"></div>
        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="error">
          <div *ngIf="code.errors?.['required']">Code is empty.</div>
          <div *ngIf="code.errors?.['pattern']">Code's format is not correct.</div>
        </div>
        <div *ngIf="wrongCode" class="error">
          <div>The verification code is not correct.</div>
        </div>
        <div class="h-4"></div>
        <div class="relative w-full">
          <input
            #passwordElm
            [type]="showPassword ? 'text' : 'password'"
            class="w-full"
            placeholder="Enter password"
            formControlName="password"
          />
          <div
            (click)="showPassword = !showPassword"
            class="absolute right-0 top-0 w-11 h-full flex items-center justify-center cursor-pointer"
          >
            <i *ngIf="showPassword" class="icon-VisibilityOff"></i>
            <i *ngIf="!showPassword" class="icon-Visibility"></i>
          </div>
        </div>
        <div class="h-1"></div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
          <div *ngIf="password.errors?.['required']">Password is empty.</div>
          <div *ngIf="password.errors?.['pattern']">Password's format is not correct.</div>
        </div>
        <div class="h-4"></div>
        <!-- ^((?=.*[A-Z])(?=.*d).{8,99}) -->
        <div *ngIf="password.touched" class="text-white text-sm">
          Password must have:<br />
          <ul class="list-disc">
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && password.value.length < 8
              }"
            >
              At least 8 characters
            </li>
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && notHaveUppercase(password.value)
              }"
            >
              Uppercase letters (A-Z)
            </li>
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && notHaveDigit(password.value)
              }"
            >
              Digit letters (0-9)
            </li>
            <li
              class="ml-5"
              [ngClass]="{
                'text-red-0': (password.dirty || password.touched) && notHaveSpecial(password.value)
              }"
            >
              Special characters (~! &#64;#$%^&*_-+=`|\()&#123;&#125;[]:;"'&#60;>,.?/)
            </li>
          </ul>
        </div>
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="h-6"></div>
        <button (click)="sendCode()" class="btn" [disabled]="(resetForm.touched && resetForm.invalid) || processing">
          {{ processing ? 'Processing' : 'Continue' }}
        </button>
      </form>
      <div *ngIf="step === 2" class="text-white">
        Change password successfully! Please sign in and experience Kyons!
      </div>
      <div class="h-6"></div>
      <a [routerLink]="paths.home.path" [ngClass]="{ 'text-orange': step !== 2, btn: step === 2 }">Back to sign in</a>
    </div>
  </div>
</div>
