<div class="flex w-full h-full justify-center p-6 md:p-11">
  <div class="flex flex-col w-full max-w-[894px] gap-6">
    <h2>Tài khoản Kyons</h2>
    <div class="flex flex-col md:flex-row gap-6 items-start">
      <div class="hidden md:flex w-1/4 bg-white rounded-md p-6">
        <ul class="flex flex-col gap-2 w-full">
          <li
            (click)="activeTab = 0"
            class="flex w-full items-center justify-between h-6 cursor-pointer"
            [ngClass]="{'text-lightBlue-1': activeTab === 0}"
          >
            <span>Tài khoản của bạn</span>
            <i class="icon-ArrowRight text-orange text-[20px]"></i>
          </li>
          <li class="border-b border-blueGrey-300"></li>
          <li
            (click)="getTransactions()"
            class="flex w-full items-center justify-between h-6 cursor-pointer"
            [ngClass]="{'text-lightBlue-1': activeTab === 1}"
          >
            <span>Lịch sử giao dịch</span>
            <i class="icon-ArrowRight text-orange text-[20px]"></i>
          </li>
          <!-- <li class="border-b border-blueGrey-300"></li>
          <li
            (click)="getActivities()"
            class="flex w-full items-center justify-between h-6 cursor-pointer"
            [ngClass]="{'text-lightBlue-1': activeTab === 2}"
          >
            <span>Lịch sử sử dụng</span>
            <i class="icon-ArrowRight text-orange text-[20px]"></i>
          </li> -->
        </ul>
      </div>
      <select class="w-full md:hidden" [(ngModel)]="activeTab" (ngModelChange)="onSelectTab($event)">
        <option value="0"><span>Tài khoản của bạn</span></option>
        <option value="1"><span>Lịch sử giao dịch</span></option>
      </select>
      <div *ngIf="activeTab === 0" class="flex flex-col gap-2 w-full md:w-3/4 bg-white rounded-md p-6">
        <h5>Tài khoản của bạn</h5>
        <div class="flex items-center justify-between w-full">
          <strong>Tiền trong tài khoản</strong>
          <strong>{{ balance.formatedValue }}</strong>
        </div>
        <div class="flex items-center justify-between w-full rounded-lg border border-blueGrey-300 p-2 gap-6">
          <span>Bài kiểm tra</span>
          <span class="flex-1"></span>
          <strong>{{ inventory.mockTest }} bài</strong>
          <a class="btn btn-small" [routerLink]="paths.package.path">Mua thêm</a>
        </div>
        <div class="flex items-center justify-between w-full rounded-lg border border-blueGrey-300 p-2 gap-6">
          <span>Gói học tập</span>
          <span class="flex-1"></span>
          <strong>{{ inventory.getTime() }}</strong>
          <a class="btn btn-small" [routerLink]="paths.package.path">Mua thêm</a>
        </div>
      </div>
      <div *ngIf="activeTab === 1" class="flex flex-col gap-6 w-full md:w-3/4 bg-white rounded-md p-6">
        <h5>Lịch sử giao dịch</h5>
        <div class="flex flex-col gap-2">
          <div class="flex flex-col gap-2" *ngFor="let tran of transactions.list; index as i">
            <hr *ngIf="i !== 0" class="text-blueGrey-300" />
            <div class="flex flex-row justify-between w-full">
              <div class="">
                <span>{{ tran.packageName }}</span
                ><br />
                <span>{{ tran.formatedTime() }}</span>
              </div>
              <strong>{{ tran.formatedAmount() }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="activeTab === 2" class="flex flex-col gap-6 md:w-3/4 bg-white rounded-md p-6">
        <h5>Dịch vụ của bạn</h5>
        <div class="flex flex-col gap-2">
          <!-- <div class="flex flex-col gap-2" *ngFor="let tran of activities; index as i">
            <hr *ngIf="i !== 0" class="text-blueGrey-300" />
            <div class="flex flex-row justify-between w-full">
              <div class="">
                <span>{{ tran.packageName }}</span
                ><br />
                <span>{{ tran.formatedTime() }}</span>
              </div>
              <strong>{{ tran.formatedAmount() }}</strong>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
