<div class="flex w-full h-full justify-center">
  <div class="flex flex-col w-full xl:max-w-[1122px] gap-6 px-6 xl:p-0">
    <chatbot-top-menu />
    <div class="flex flex-col md:flex-row gap-6 items-start">
      <div class="hidden md:flex flex-col justify-stretch w-[320px] bg-white rounded-md p-6 gap-6">
        <h4 class="text-center">Tài khoản</h4>
        <ul class="flex flex-col gap-2 w-full font-semibold">
          <li
            (click)="activeTab = 0"
            class="account-item"
            [ngClass]="{ 'text-lightBlue-1 bg-lightBlue-6': activeTab === 0 }"
          >
            <span class="flex items-center gap-2"><i class="icon-Test"></i> Tài khoản và thanh toán</span>
            <i class="icon-ArrowRight text-[20px]"></i>
          </li>
          <li
            (click)="getTransactions()"
            class="account-item"
            [ngClass]="{ 'text-lightBlue-1 bg-lightBlue-6': activeTab === 1 }"
          >
            <span class="flex items-center gap-2"><i class="icon-Profile"></i> Thông tin cá nhân</span>
            <i class="icon-ArrowRight text-[20px]"></i>
          </li>
          <li
            (click)="getActivities()"
            class="account-item"
            [ngClass]="{ 'text-lightBlue-1 bg-lightBlue-6': activeTab === 2 }"
          >
            <span class="flex items-center gap-2"><i class="icon-Lock"></i> Đổi mật khẩu</span>
            <i class="icon-ArrowRight"></i>
          </li>
          <li class="border-b border-blueGrey-300"></li>
          <li class="account-item text-orange">
            <a
              class="flex items-center gap-2 no-underline"
              [routerLink]="paths.signOut.path"
              routerLinkActive="router-link-active"
              ><i class="icon-SignOut"></i> Đăng xuất</a
            >
          </li>
        </ul>
      </div>
      <select class="w-full md:hidden" [(ngModel)]="activeTab" (ngModelChange)="onSelectTab($event)">
        <option value="0"><span>Tài khoản của bạn</span></option>
        <option value="1"><span>Lịch sử giao dịch</span></option>
      </select>
      @if (activeTab === 0){
      <chatbot-account-and-payment />
      } @else if (activeTab === 1){
      <chatbot-profile />
      } @else if (activeTab === 2){
      <chatbot-change-password />
      }
    </div>
  </div>
</div>
