<ul
  class="shadow-0 rounded-lg origin-top-right absolute right-0 top-full mt-2 w-56 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none items-stretch flex-col z-10"
>
  <!-- <a [routerLink]="paths.profile.path" class="drop-menu-item">
    <li>Thông tin cá nhân</li>
  </a>
  <li class="border-t border-blueGrey-300"></li> -->
  <a [routerLink]="paths.account.path" class="drop-menu-item">
    <li>Tài khoản của bạn</li>
  </a>
  <li class="border-t border-blueGrey-300"></li>
  <a [routerLink]="paths.home.path" [queryParams]="{ tutorial: true }" class="drop-menu-item">
    <li>Hướng dẫn sử dụng</li>
  </a>
  <li class="border-t border-blueGrey-300"></li>
  <!-- <li [routerLink]="'/knowledge'">
              <a class="h-5 text-primaryBlue">Cây kiến thức</a>
            </li>
            <li class="border-t border-blueGrey-300"></li> -->
  <a [routerLink]="paths.signOut.path" class="drop-menu-item">
    <li>Thoát</li>
  </a>
</ul>
